.delivery-list {
    background: #fff;
    margin-bottom: 30px;
    border: 1px solid #DCDCDC;
    border-width: 1px 0;
}
.delivery-list .item {
    overflow: hidden;
    padding: 2px 0;
}
.delivery-list .item + .item {
    border-top: 1px solid #DCDCDC;
}
.delivery-list .form-group {
    display: table;
    width: 100%;
}
.delivery-list .delivery-radio {
    display: table-cell;
    vertical-align: middle;
    width: 32%;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 10px 15px 68px;
    position: relative;
    box-sizing: border-box;
}
.delivery-list .delivery-radio.checked{
    background: #f7ecd7;
}
.delivery-list .delivery-radio:before {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 14px;
    margin: -14px 0 0;
    border: 6px solid #fff;
    border-radius: 50%;
}
.delivery-list .delivery-radio:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    background: #F7ECD7;
    width: 56px;
}
.delivery-list .delivery-radio input {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
}
.delivery-list .txt {
    display: table-cell;
    vertical-align: middle;
    padding: 15px 20px;
    border: 1px dotted #aaa;
    border-width: 0 0 0 1px;
}
.delivery-list .txt b {
    color: #FF5B2C;
}

.no-item {
    padding: 20px 0 40px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin: 0;
}

.cart-table .pd-id {
    color: #BBA273;
    font-size: 14px;
}
.cart-table .pd-name {
    color: #61370A;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
}
.cart-table a:hover .pd-name {
    text-decoration: underline;
}
.cart-table .plus-tag {
    display: inline-block;
    color: #ff2f11;
    margin-top: 4px;
}
.cart-table .indent {
    border-top: hidden;
}
.cart-table .indent td {
    padding-top: 0;
}
.cart-table .img {
    width: 80px;
}
.cart-table .indent .img .pic {
    position: relative;
    left: 30px;
}
.cart-table .indent .info {
    padding-left: 35px;
}
.cart-table a.pic {
    position: relative;
    overflow: hidden;
    padding: 3px;
    background: #fff;
}
.cart-table a.pic img {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.cart-table a.pic:hover img {
    opacity: 0.6;
}
.cart-table .tag {
    background: #FBA41A;
    color: #fff;
    font-size: 13px;
    display: inline-block;
    vertical-align: text-bottom;
    padding: 2px 6px;
    border-radius: 4px;
    margin-right: 6px;
}
.cart-table .btn.delete {
    width: 26px;
    height: 26px;
    line-height: 26px;
    font-size: 22px;
    color: #000;
}
.cart-table .btn.delete:hover {
    color: #c9b38f;
}
.cart-table .btn.delete .ic {
    vertical-align: middle;
    margin: 0 0 2px;
}
.sum-box {border-top: 1px solid #DCDCDC; margin: 0 0 20px 0;}
.sum-table {color: #725233;font-size: 14px;}
.sum-table tr {
    background: rgba(255,255,255,0.85);
}
.sum-table tr+tr {
    border-top: 1px solid #ddd;
}
.sum-table td {
    text-align: right;
    padding: 12px 30px;
}
.sum-table td:first-child {
    font-size: 15px;
}
.sum-table td:last-child {
    width: 33%;
}
.sum-table tr:nth-last-child(-n+3) td {
    color: #FF5C2D;
    font-weight: bold;
}
.sum-table tr:last-child td:last-child {
    font-size: 16px;
}
.sum-table td .form-control {
    display: inline-block;
    width: auto;
    margin: 0;
}


.payment-box {
    border: 1px solid #DCDCDC;
    border-width: 1px 0;
    background: #F7ECD7;
    overflow: hidden;
    padding: 5px;
}
.payment-box .shopping-title {
    float: left;
    margin: 5px;
}
.payment {
    float: right;
    margin: 7px 0 0 15px;
    text-align: right;
}
.payment label,
.invoice-info label {
    display: inline-block;
    text-align: center;
    border: 1px solid #ddd;
    background: #FEFEFE;
    font-size: 15px;
    line-height: 1.5;
    padding: 5px 15px;
    margin: 0 5px 5px;
    border-radius: 5px;
    min-width: 160px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.payment label.checked,
.invoice-info label.checked {
    color: #fff;
    background: #c9b38f;
    border-color: #c9b38f;
}


.shopping-form {
    margin: 60px -26px 30px;
}
.shopping-form .shopping-title {
    margin: 15px 0 0 0;
    text-align: center;
    text-indent: 0;
    padding-left: 0;
    color: #b1976c;
}
.shopping-form .shopping-title .ic-wrap {
    display: block;
    margin: 0 auto 5px;
}
.shopping-form .shopping-title .en {
    display: block;
    font-size: 13px;
    letter-spacing: 0;
}
.shopping-form .row {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 26px 0;
}
.shopping-form .row:after {
    display: none;
}
.shopping-form .col {
    display: table-cell;
    vertical-align: top;
    width: 50%;
    position: relative;
    border: 1px solid #DCDCDC;
}
.shopping-form .form-group {
    padding: 3px 0;
    border: 0;
    margin: 10px 0;
}
.shopping-form .control-label {
    float: none;
    padding-left: 0px;
}
.shopping-form .control-box {
    margin-left: 0;
}
.shopping-form .tips {
    min-height: 0;
}
.shopping-form .btn.select-store {
    border: 1px solid #ddd;
    background: #fff;
    width: 145px;
    height: 30px;
    line-height: 28px;
    color: #999;
    font-size: 15px;
    background: #fff;
    border-radius: 14px;
}
.shopping-form .btn.select-store:hover {
    color: #FF5B2C;
    border-color: #FF5C2D;
}
.shopping-form .btn.select-unable {
    color: #03A1B8;
    text-decoration: underline;
    vertical-align: baseline;
}
.shopping-form .btn.select-unable:hover {
    color: #ff5c2d;
}
.shopping-form .same-check {
    padding: 0 0 15px;
}
.shopping-form .same-check label {
    display: block;
    color: #af9366;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.shopping-form .same-check label:before {
    margin-right: 8px;
}
.invoice-wrap .shopping-title {
    text-align: center;
    text-indent: 0;
    padding-left: 0;
}
.invoice-wrap .shopping-title .ic-wrap {
    display: block;
    margin: 0 auto 5px;
}
.invoice-wrap .shopping-title .en {
    display: block;
    font-size: 13px;
    letter-spacing: 0;
}
.invoice-info-box {
    border: 1px solid #DCDCDC;
    position: relative;
    padding: 20px;
    text-align: center;
}
.invoice-info {
    padding: 20px 0;
}
.invoice-form .form-box {
    border: 0;
    max-width: 440px;
    margin: 0 auto;
    padding: 0 0 0px;
}
.invoice-form .form-group {
    border: 0;
    padding: 2px 0;
    margin: 5px 0;
}
.invoice-form .control-box {
    margin-left: 0;
}
.invoice-form .control-label {
    display: none;
}
.invoice-txt {
    padding: 0 0 20px;
    font-size: 13px;
    letter-spacing: 0.05em;
    line-height: 1.9;
}
.invoice-txt span {
    color: #FF5A2C;
}
.invoice-txt a {
    color: #02A0B8;
}
.invoice-txt a:hover {
    text-decoration: underline;
}



@media screen and (max-width: 1200px) {
    .plus-list {
        margin: 0 -7px;
    }
    .plus-list .item {
        padding: 0 7px;
        width: 25%;
    }
    .plus-list .item:nth-child(5n+1) {
        clear: none;
    }
    .plus-list .item:nth-child(4n+1) {
        clear: left;
    }
}
@media screen and (max-width: 900px) {
    .table-h thead {
        display: none;
    }
    .table-h tr,
    .table-h td {
        display: block;
        text-align: left;
    }
    .table-h td+td {
        border-left: 0;
    }
    .table-h td[data-title]:before {
        content: attr(data-title);
        display: inline-block;
        color: #aaa;
        font-size: 13px;
    }
    .table-h tr {
        padding: 10px 0;
        position: relative;
    }
    .table-h td {
        padding: 0;
        line-height: 2;
    }
    .cart-table tbody tr {
        padding-left: 94px;
    }
    .cart-table .img {
        position: absolute;
        left: 0;
        top: 10px;
    }
    .cart-table .indent .img .pic {
        left: 0;
    }
    .cart-table .indent .info {
        padding-left: 0;
    }
    .cart-table td .btn.delete {
        position: absolute;
        right: -5px;
        top: 10px;
    }
    .cart-table .pd-name {
        line-height: 1.2;
    }
    .sum-table tr {
        padding: 5px 10px;
        overflow: hidden;
    }
    .sum-table td,
    .cart-table .indent .info {
        padding: 0;
        min-width: 0;
    }
    .sum-table td:first-child {
        float: left;
        text-align: left;
        font-size: 14px;
    }
    .sum-table td:last-child {
        width: auto;
        float: right;
    }
    .plus-list .item {
        width: 33.33%;
    }
    .plus-list .item:nth-child(4n+1) {
        clear: none;
    }
    .plus-list .item:nth-child(3n+1) {
        clear: left;
    }
    .shopping-form,
    .shopping-form .row,
    .shopping-form .col {
        display: block;
        width: auto;
        margin: 0;
        padding: 0;
        border: 0;
    }
    .shopping-form .col {
        margin-top: 1.8em;
    }
    .shopping-form .shopping-title {
        position: static;
    }
    .shopping-form .form-box {
        border: 1px solid #DCDCDC;
    }
    input.choose{
        position: absolute;
        right: 5px ;
        top: 15px;
    }
    .refund .info{
        padding-right:30px; 
    }
    .refund-table.table .btn.more{
        position: absolute;
        left: 90px;
        bottom: 18px;
    }
}
@media screen and (max-width: 767px) {
    .delivery-list .form-group,
    .delivery-list .delivery-radio,
    .delivery-list .txt {
        display: block;
    }
    .delivery-list .delivery-radio {
        width: auto;
        padding: 10px 10px 10px 68px;
    }
    .delivery-list .txt {
        border-width: 1px 0 0;
        padding: 10px 15px;
    }
    .shopping-form .form-box,
    .invoice-info-box {
        padding: 10px 15px;
    }
    .invoice-info-box{
        margin: 15px 0 0 0;
    }
    .refund-table.table .btn.more{
        bottom: 12px;
    }
}
@media screen and (max-width: 680px) {
    .plus-list .item {
        width: 50%;
    }
    .plus-list .item:nth-child(3n+1) {
        clear: none;
    }
    .plus-list .item:nth-child(2n+1) {
        clear: left;
    }
    .plus-list .box {
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 520px) {
    .shopping-step {
        margin: 0 0 25px;
    }
    .shopping-step li {
        display: block;
        padding: 0;
    }
    .shopping-step li+li:before {
        display: block;
        position: static;
        margin: 5px auto;
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@media screen and (max-width: 480px) {
    .plus-list .item {
        width: 100%;
    }
    .plus-list .item:nth-child(n) {
        clear: none;
    }
}
@media screen and (max-width: 400px) {
    .payment-box .shopping-title,
    .payment {
        float: none;
    }
    .payment {
        margin: 10px 5px 0;
    }
    .payment label,
    .invoice-info label {
        display: block;
        margin: 0 0 10px;
    }
}