/*教學導引標題、內容*/
#tlyPageGuideWelcome h3, #tlyPageGuideWelcome p
{
	font-family: "微軟正黑體";
}
/*教學導引按鈕*/
.modal-button-container button
{
	font-family: "微軟正黑體";
}
.tlypageguide_close
{
	width:100px;
}
.wrapper
{
	width: 300px;
}
#tlyPageGuideMessages
{
	font-family: "微軟正黑體";
	text-align:left;
}
.tlypageguide-open .tlypageguide_shadow7:after {
  width:652px;
  height: 491px;
}
/*.tlypageguide-open .tlypageguide_shadow8:after {
  width:652px;
  position: absolute;
  left: -102px;
}*/
/*.tlypageguide-open .tlypageguide_shadow9:after {
  width:652px;
  height: 67px;
}*/
.tlypageguide-open .tlypageguide_shadow8:after {
  width:652px;
  height: 100px;
}
.tlypageguide-open .tlypageguide_shadow9:after {
  width:652px;
  height: 100px;
}
.tlypageguide-open .tlypageguide_shadow10:after {
  width:652px;
  height: 150px;
}
.tlypageguide-open .tlypageguide_shadow11:after {
  width:652px;
  height: 260px;
}
.tlypageguide-open .tlypageguide_shadow12:after {
  width:652px;
  height: 1013px;
}
.tlypageguide-open .tlypageguide_shadow13:after {
  width:652px;
}