
.dropdownContent-B2B-Mobile{
	
	position: relative;
}
.dropdownTop-B2B{
	background: #ff7896;
	color: #fff;
	margin: 0;
	cursor: pointer;
	height: 50px;
	font-size: 16px;
	line-height: 50px;
	padding: 0 15px;
	text-align: center;
}

	
.dropdownContent-B2B-Mobile .MobileMenu{
	display: none;
	width: 100%;
	padding: 0;
	border: 1px solid #E3E1E1;
	background-image: url(../images/tex2res5-BG.png);
	background-repeat: repeat;
}
.dropdownContent-B2B-Mobile .MobileMenu li{
	list-style:none;
}
.dropdownContent-B2B-Mobile .MobileMenu li.brand{
	/*background: #E3E1E1;*/
	margin: 0;
	height: 50px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	border-bottom:1px solid #fff;
	color: #ff7896;

}
.dropdownContent-B2B-Mobile .MobileMenu li.brand a{
	
	font-size: 16px;
	
}
.dropdownContent-B2B-Mobile .MobileMenu li.brand:hover{
	background: #ff7896;
	color:#fff;
}
.dropdownContent-B2B-Mobile i.IconDown{
	 color: #fff;
    font-size: 30px;
    position: absolute;
    right: 25px;
    top: 10px;
}


