@charset "utf-8";
/*CSS RESET*/

img {border: 0;}
body {
	font-family: "微軟正黑體";
	
}
a img{border: 0;}


:focus {outline: 0;}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal;}

a{ text-decoration:none;
 outline: none; /* for Firefox Google Chrome  */
 behavior:expression(this.onFocus=this.blur()); /* for IE */
}/*去除連結虛線框*/

*{-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin:0;padding:0
  }
/*------CSS END RESET------------------------------------------------*/


body
{
	background-color: #fff;/*設BG顏色，點開側欄的時候才不會怪怪的*/
	font-family: "微軟正黑體", "新細明體-ExtB";
	color: #666;
	position: relative;
	-webkit-text-size-adjust: none;
	font-size:16px;
}



/*--BG樣式----*/
.bg-style{
	background-image: url(../images/bg.png);
	background-repeat: repeat;	
	}
	
	
.wrapper{ width:90% ;
margin:20px 0 2% 5%;

}



/*------index--------*/
.about-box{
	width:100%;  border: 1px solid #ff7896;
	color:#333;
	margin-top:5%;
	padding: 0 0 5% 0;
	position: relative;
	
}
.about-me{
	width: 100%;
	padding: 5%;
	display: block;
	color: #333;
	border-bottom:1px solid #ff7896;
}
/*.about-me:hover, .about-me:active{ background-color:#ff7896; color:#fff;}*/

.about-photo{ float:left;	
		margin-right:15px;
}

.about-photo img{ 
width:50px;
height:50px;
border-radius:50%;
-o-border-radius:50%;
-webkit-border-radius:50%;
-moz-border-radius:50%;	
}
.about-me h1{ font-size:18px;}


.team-box{
	width:100%;  border: 1px solid #ff7896;color:#333;
	margin-top:5%;
	padding:5% 0;
	position: relative;
	
}
.team-box h1{height:50px; line-height:50px; padding:0 5%; margin-bottom:10px;}
.team-box i{position:absolute; right:5%;}
.team-box i img{width:50px; height:50px;}

.line{height:1px; background-color:#ff7896;}

.index-nav-menu{padding:5%; width:100%;}
.index-nav-menu li{
	list-style: none;
	display: inline;
	
}

.index-nav-menu li a{
	display: inline-block;
	color:#ff7896;
	width: 48%;
	padding: 10px 0;
	background-image: url(../images/dot-gray.png);
	background-size:16px auto;
	background-repeat: no-repeat;
	padding-left: 18px;
	background-position: 0px 12px;
}

.index-nav-menu li a:hover, .index-nav-menu li a:active{	
	background-color:#ff7896;
	color:#fff;
}


/*------個人資訊-----------------------------*/
.my-photo{ margin: 50px 0 5% 0; position:relative;}
.my-photo img{
	width:100%;
	height:auto;
}
.i-photo { position: absolute; z-index:10;}
.i-photo img{
width:85px; height:85px;
border-radius:50%;
-o-border-radius:50%;
-webkit-border-radius:50%;
-moz-border-radius:50%;	
margin-top: -20px;
margin-left:20px;
}
.cover-img{ /*max-height:400px; overflow:hidden;*/ background-color:#fff; font-size:0;}
.cover-img img{/* opacity:0.7*/;filter: alpha(opacity=70);}
/*@media only screen and (max-width: 500px) {
   .cover-img{ max-height:200px;  }
   
}*/


.my-name{
	width:100%;
	text-align:center;
	padding:10px 0;
	font-size:20px;
	color:#FFF;
	background-color:#FF7896;
	/*text-shadow:0px 1px 4px #000;*/
	}


.blur {
    -moz-filter: blur(5px);
    -webkit-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
	/*IE不吃*/
}

/*-----介紹 Contenedor摺疊手風琴-------*/

 .accordion {
 	width: 100%;
 	
 	margin: 5% auto 20px;
 	background: #FFF;
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	border-radius: 4px;
 }
.accordion li{ list-style:none;}
.accordion .link {
	cursor: pointer;
	display: block;
	text-align:center;
	padding: 15px;
	color: #4D4D4D;
	font-size: 16px;
	font-weight: 700;
	border-bottom: 1px solid #CCC;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li:last-child .link {
	border-bottom: 0;
}

.accordion li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 18px;
	color: #595959;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px;
}

.accordion li.open .link {
	color: #ff7896;
}

.accordion li.open i {
	color: #ff7896;
}
.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.sub-i-content {
 	display: none;
 	background-color: #e9f5ff;
 	font-size: 14px;
	padding:10px 1% 20px;
 }

.my-title {
	/*padding: 1%;*/
	
}
.my-title li{
	background-image: url(../images/dot-title.png);
	background-size:16px auto;
	background-repeat: no-repeat;
	background-position: 2px center;	
	border-bottom:1px dotted #ccc;
    padding: 5px 5px 5px 16px;
}

.my-word{ padding:20px 5px 0; line-height:1.6em;}


/*----聯絡我-----*/
.c-button{
	vertical-align:top;
	display:inline-block ;
	margin: 0 0 15px 0;
	padding: 55px 0 5px 0;
	width: 32.4%;
	height:90px;
    cursor:pointer;
	border: 1px solid #ccc;	
	color:#333;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體";
}

.c-button:hover{border: 1px solid #ff7896;	}

.c-button#icon-phone{background: url(../icon-button/icon-phone.png) no-repeat 50% 15%;	
background-size:40px;
}
.c-button#icon-tel{background: url(../icon-button/icon-tel.png) no-repeat 50% 15%;
background-size:40px;
}
.c-button#icon-fax{background: url(../icon-button/icon-fax.png) no-repeat 50% 15%;
background-size:40px;
}
.c-button#icon-number{background: url(../icon-button/icon-number.png) no-repeat 50% 15%;
background-size:40px;
}
.c-button#icon-add{background: url(../icon-button/icon-add.png) no-repeat 50% 15%;
background-size:40px;
}
.c-button#icon-email{background: url(../icon-button/icon-email.png) no-repeat 50% 15%;
background-size:40px;
}
.c-button#icon-skype{background: url(../icon-button/icon-skype.png) no-repeat 50% 15%;
background-size:40px;
}
.c-button#icon-fb{background: url(../icon-button/icon-fb.png) no-repeat 50% 15%;
background-size:40px;
}
.c-button#icon-line{background: url(../icon-button/icon-line.png) no-repeat 50% 15%;
background-size:40px;
}
.c-button#icon-wechat{background: url(../icon-button/icon-wechat.png) no-repeat 50% 15%;
background-size:40px;
}
.c-button#icon-whatsapp{background: url(../icon-button/icon-whatsapp.png) no-repeat 50% 15%;
background-size:40px;
}
.c-button#icon-instagram{background: url(../icon-button/icon-instagram.png) no-repeat 50% 15%;
background-size:40px;
}




.qr-code{
	width:99%;
	text-align:center;
    display:inline-block;
	margin: 0 0.5%;
	margin-bottom:25px;
	padding-bottom:25px;
	font-size:20px;
	border-bottom: 3px dashed #ADD6F8;
	}
.qr-code2{
    vertical-align : top ;
    margin:3% 0px 2% 3%;   
    text-align: center;
    display:inline-block ;
    padding:55px 15px 0px 15px;
    width:135px;
    height:100px;
    line-height: 22px;
    /*background:#EBEBEB;*/
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: url(../images/wbtn04_QR.png) no-repeat 50% 15%;
    border: 1px solid #666;   
    color:#555;
}
	
.qr-code img{ width:100%; height:auto; max-width:250px;}



/*---影片/文章/相簿/表單/網路連結/附件/分享券/-------------------------------*/
.path-item{
	width: 100%;
	font-size: 16px;
	padding: 5%;
	padding-left:20px;
	background-image: url(../images/dot-title.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size:16px;
}
.content{margin-bottom:5%; float:left; width:100%;}


.w-half{ width:48%; margin:0 1%;}



/*---影片跟相簿用這個info-list-------*/
.info-list { float:left; background-color:#fff; margin-bottom:15px;}
.info-list h2{ font-size:16px; line-height:1.6em; height:55px; 
clear:both; overflow:hidden; padding:0 10px;}

.info-list a{ color:#333;}
.info-list:hover, .info-list:active{ 
-moz-box-shadow: 0px 0px 5px #ccc;
-webkit-box-shadow: 0px 0px 5px #ccc;
box-shadow: 0px 0px 5px #ccc;}




/*-------PAGE--------------*/
.pagebox{ 
width:100%;

text-align:center; 
margin:1em 0; 
display:block; 
}
 
.pagebox a{ 
display:inline-block; 
border-radius:5px;
-o-border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
margin-bottom:10px;
 padding:0.2em 0.8em;
 background:#ff7896; 
 color:#fff;
  border:solid 1px #ff7896; 
  text-decoration:none;
  }
.pageNow a, li.pageNow a:hover{ 
background:#fff; 
color:#ff7896; 
border-color:#ff7896;}

.pagebox a:hover{ background:#ff7896;color:#333;}

.page{ width:100%;}

.page, .page li{ display:inline-block; margin-bottom:2px; list-style:none;}


.p-n{ width:100%;margin: 15px 0; height:50px; }
.page-prev a, .page-next a{ display:inline-block; width:40%; float:left;
margin:0 5%;
background: rgba(255,120,150,0.8);
border-radius:75px;
-o-border-radius:75px;
-webkit-border-radius:75px;
-moz-border-radius:75px;

}


/*---------------------------------------------*/



/*--內頁標題---*/
.content-title{ 
	text-align:left;
	margin:5% 0;
	padding-bottom:15px; 
	border-bottom:2px dotted #999; 
	color:#333;
	
	
	}

/*----(方法)--當圖片大小不一致的時候，讓他安安穩穩躺在你指定的div大小裡-----*/
.item-img{ float:left; background-color:#ccc;
text-align: center;
overflow:hidden;
box-sizing: border-box;

}

.item-img img{ width:100%;overflow:hidden; }

.fix {
  
    position:relative;
    overflow:hidden;
    width:100%;
    float:left;
} 
.fix:after {
    padding-top: 56.25%;
    content:"";
    display: block;
}
.fix img {
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    max-width:100%;
    margin:auto;
}

.icon-go-vedio{
	background-image: url(../images/icon-go-vedio.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 25px auto;
	position:absolute;
	z-index:10;
	display:block;
	width:50px;
	height:50px;
}
/*-----YOUTUBE影片 響應式------------------*/
.vedio-box{ width:100%; text-align:center; float:left; clear:both;}

.video-container {
    position: relative;
	z-index:1;
    padding-bottom: 56.25%;
    height: 0; overflow: hidden;
	border:7px solid #fff;
	background-color:#fff;
	
	
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:1;
}

/*--------相簿內頁----------*/
    #sync1 img, #sync2 img{ width:100%; height:auto;}
	#sync2 img{height:50px;}
	
	
	
    #sync1 .item0{
      /*  background: #0c83e7;*/
      
        margin: 10px 5px;
        
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        text-align: center;
		
    }

	
    #sync2 .item0{
        background: #333;
        padding:2px;
        margin: 3px;
        color: #FFF;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        text-align: center;
        cursor: pointer;
    }
    .item0 p{ width:100%; padding:2% 5%;  line-height:1.6em; 
	border-radius: 0 0 10px 10px;
	-o-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	
	}
	#sync1 img{max-width:900px;}
	
    #sync2 .synced .item0{
	background-color: #FFF;
	filter:alpha(opacity=50); opacity:.6;
    }

    #sync2 .item0:hover{ filter:alpha(opacity=50); opacity:.6;}

    @media only screen and (max-width: 900px) {
   #sync1 p{background-color:#fff; text-align:left;}
   
   }


/*-----------新增 PREV NEXT 按鈕---------------*/
 .customNavigation{
      text-align: center;
	  margin:15px 0 0 0;
    }
    .customNavigation a{
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	  
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 7px 22px;
	font-size: 16px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #8A867D;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	cursor:pointer;
    }



/*----文章-------*/

.article-list{
	
    margin-bottom:15px;
}
.article-list a{
	display:block;
    background-image: url(../images/icon-arrow2.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	
	padding: 3%;
	padding-bottom: 19px;
	border: 1px solid #ccc;
	border-left: 5px solid #ff7896;;
	background-color: rgba(255,255,255,0.7);
	
}

.article-list a:hover, .article-list a:active{
	background-color: transparent;
	
	}

.article-list h2{
	color:#333;
	font-size:16px;
	margin-bottom:5px;
}
.article-list div{
	color:#999;
	font-size:14px;
	
}
/*---文章編輯器裡的圖片----*/
.word-area img{ width:100%; height:auto;}


/*-------報名表單----------------*/
.enroll-list{
	
    margin-bottom:15px;
}
.enroll-list a{
	display:block;
    background-image: url(../images/go-enroll.png);
	background-size:16px auto;
	background-repeat: no-repeat;
	background-position: 99% 90%;
	padding: 3%;
	padding-bottom: 19px;
	border: 2px dotted #ccc;
	
	background-color: rgba(255,255,255,0.7);
	
}

.enroll-list a:hover, .enroll-list a:active{
	background-color: transparent;
	
	}

.enroll-list h2{
	

	margin-bottom:5px;
}
.enroll-list div{
	color:#999;
	font-size:14px;
	height:36px;
	overflow:hidden;
}









/*-------網路連結--------*/

.link-list ul li{
	list-style:none;
	width:100%;
	
	}

.link-list li a{
	
	padding: 3%;
	padding-right: 8%;
	display: block;
	border-bottom: 1px solid #ff7896;
	background-image: url(../images/dot-arrow.png);
	background-size:16px auto;
	background-repeat: no-repeat;
	background-position: 99% center;
	background-color: #fff;
	min-height: 45px;
	line-height:1.6em;
}
.link-list li:nth-child(even) a{
    background-color:#EBEBEB;

}

.link-list li a:hover, .link-list li a:active{
	background-color:#ff7896;
	color:#fff;
	
}

/*---------附件---------------*/

.annex-list ul li{
	list-style:none;
	width:100%;
	
	}

.annex-list li a{
	
	padding: 3%;
	padding-right:12%;
	display: block;
	border-bottom: 1px dotted #ccc;
	background-image: url(../images/dot-arrow3.png);
	background-size:24px auto;
	background-repeat: no-repeat;
	background-position: 98% center;
	background-color:#fff;
	min-height:45px;
	line-height:1.6em;
}

.annex-list li a:hover, .annex-list li a:active{
	background-color:#FDB8C7;
	color:#fff;
	
}

/*-----分享券-----------*/
.share-list { float:left; background-color:#fff; margin-bottom:15px; 
border-radius:10px;
-o-border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border:1px solid #ccc;
overflow:hidden;
width:100%;
}


.share-list h2{ font-size:16px; line-height:1.6em;
clear:both;  /*height:55px; overflow:hidden;*/ padding:0 10px;}
	
.share-list a{ color:#333;}
.share-list:hover, .share-list:active{ 
-moz-box-shadow: 0px 0px 5px #ccc;
-webkit-box-shadow: 0px 0px 5px #ccc;
box-shadow: 0px 0px 5px #ccc;}


.btn-share a{
	display:block;
	width:50%; 
	font-size:18px; 
	color:#fff; 
	background-color:#ff7896; 
	margin:25px 0 5% 0;
border-radius: 75px;
-o-border-radius: 75px;
-webkit-border-radius: 75px;
-moz-border-radius: 75px;
text-align:center;
padding: 10px;
}

.btn-share a:hover, .btn-share a:active{background-color:#DF5977;}





