#galleryTouch_0 #imgs_0, #galleryTouch_1 #imgs_1
{
  float:left;
  display:inline;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  padding:0px;
  margin:0px;
  -webkit-transform: translate3d(0px,0px,0px);
}
#galleryTouch_0 #imgs_0 img, #galleryTouch_1 #imgs_1 img { vertical-align: middle; }