 /* loading - the AJAX indicator */
.ui-autocomplete-loading {
   background: white url('/images/loader_03.gif') right center no-repeat;
}
/* scroll results */
.ui-autocomplete {
   max-height: 150px;
   width: 300px;
   overflow-y: auto;
   /* prevent horizontal scrollbar */
   overflow-x: hidden;
   /* add padding for vertical scrollbar */
   padding-right: 5px;
}