*{
	margin:0px;
	padding:0px;
	}

/*移動區塊設定*/
.tabs {
	margin:0px;
	padding:0px;
  position: absolute;
  left: 0%;
}
/*BG背景色設定_01*/
.bg_01{

    /*background-color:#023C62;*/
	  background:url(../../images/background1.jpg) no-repeat center 0px;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
     background-size:cover;
     background-attachment:fixed;
      background-position: center center;

 }
/************** 公司頁 背景色設定_01*****************/

/*公司頁的頂端色更改處 */
#header{

	/*色調1*/
	background-color:#023CA2;
}
/************公司頁左方欄背景顏色*******/
#menu{
	background-color:#012A61;
}
/***************公司頁左頂端列改色*****************/
.menu-header-title {
  background-color: #023CA2;
}
.menu-section ul li a:hover{ background: #139;}
#content{padding-left:1rem;padding-right:.5rem;margin:0;max-width:100%; word-wrap:break-word; word-break:normal; }
#content img{max-width:100%;width:98%;}
/**************公司頁左頂端列改色***************/
/*個人頁的頂端色更改處 */
.topcolor1{
	/*色調1*/
	background-color:none;
}
#stickBottom{
	/*footer 底下連結色塊顏色*/
	background-color:#023CA2;
	
	position: fixed;
	left:0;
	bottom:0;
	width:100%;
	max-width:100%;
	overflow:auto;
	z-index: 33;
}
/*文字顏色color*/
 body{
	margin:0;
	padding:0;
	color:#EEE;
	font-size:100%;
	font-family: Verdana, Arial, Helvetica, sans-serif, "微軟正黑體";
	line-height: 30px;
	 
	 /***********背景色因手機滑動造成突出會顯露底色，故需設定與頂端、FOOTER列相同顏色*********
	 background-color: #023C62;
	 */
 }

/* 背景上方壓上黑影 */
.black-overlay {
    position: fixed;
    left: 0;
    top: -20px;
    width: 100%;
		min-height: 100%;
		height: auto;
    z-index: -3;
		overflow-y:hidden;
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,100.8) 90%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(90%,rgba(0,0,100,0.8))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,100,0.8) 90%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,100.8) 90%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,100,0.8) 90%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,100,0.8) 90%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-attachment:fixed;
}
/* 背景上方壓上黑影END */

a,a:hover {
	color: #FFF;
	text-decoration: none;
	font-weight:700;
}
a,a:active,a:focus {
	outline-color: -moz-use-text-color;
	outline-style: none;
	outline-width: 0;
}
a:active,a:focus {
	outline: expression(hideFocus='true');
}

ul {
	font-family: Verdana, Arial, Helvetica, sans-serif, "微軟正黑體";
	margin:0px;
	padding:0px;
	list-style: none outside;
}
/******* 標題1 加底下虛線 ******/
.h1title{
display:block;
font-size:18px;
font-weight: 700;
border-bottom:1px dashed #EEF;
margin:10px;
padding:10px 10px 10px 0px;
}
.h1title_text{
color: #EEF;
font-weight: 500;
font-size:14px;
border-bottom:1px dashed #EEF;
padding:10px 0px 20px 20px;
}
#container {
	/*width: 100% 640px;*/
	height:100%;
	min-width:320px;
	margin:0px auto;
/*	overflow: hidden;*/

}
a.goob{
	margin:5px auto;
	padding:5px 5px;
	display: block;
	width:180px;
	background:#4585F1;
	color:#FFF;
	text-align:center;
	}
a.goow{
	margin:5px auto;
	padding:5px 5px;
	display: block;
	width:90%;
	background:#777;
	color:#FFF;
	text-align:center;
	}
a.goowB{
	margin:5px auto;
	padding:5px 5px;
	display: block;
	width:90%;
	background:#55F;
	color:#FFF;
	text-align:center;
}
/* 首頁連結設定*/
a.aa00{	
	vertical-align : top ;
	display:inline-block ;
	margin:2% 0px 2% 1%;	
	padding:57px 1% 0px 1%;
	width:72px;
	height:90px;
	line-height: 22px;
	color:#fff;
	font-size:.8em;
	line-height:12px;
}
a.aa00#icon01{background: url(../../images/integrate/icon1.png) no-repeat 50% 10%;}
a.aa00#icon02{background: url(../../images/integrate/icon2.png) no-repeat 50% 10%;}
a.aa00#icon03{background: url(../../images/integrate/icon3.png) no-repeat 50% 10%;}
a.aa00#icon04{background: url(../../images/integrate/icon4.png) no-repeat 50% 10%;}
a.aa00#icon05{background: url(../../images/integrate/icon5.png) no-repeat 50% 10%;}
a.aa00#icon06{background: url(../../images/integrate/icon6.png) no-repeat 50% 10%;}
a.aa00#icon07{background: url(../../images/integrate/icon7.png) no-repeat 50% 10%;}
a.aa00#icon14{background: url(../../images/integrate/wbtn04_06.png) no-repeat 50% 20%;}


/* 首頁連結設定end */
a.aa02{
	display:block ;
	margin:5px 0px 0px 30px;
	text-align:left;
	background:url(../../images/integrate/ar_06_1.png) no-repeat 10px center;
	padding:5px 5px 5px 40px;
}
a.aa03{
	display:inline-block;
	margin:10px;
	text-align:center;
	padding:5px 0px;
	color:#E6E5E1;
	font-size: 100%;
	font-weight: lighter;
	background:#D63737;
}

a.aa04{
	vertical-align : top ;
	display:inline-block ;
	margin:3% 0px 2% 3%;	
	padding:55px 15px 0px 15px;
	width:135px;
	height:100px;
	line-height: 22px;
	/*background:#EBEBEB;*/
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: 1px solid #FFF;	
	color:#fff;
}
a.aa04-line{
	vertical-align : top ;
	margin:3% 0px 2% 3%;	
	text-align: center;
	display:inline-block ;
	padding:55px 15px 0px 15px;
	width:135px;
	height:100px;
	line-height: 22px;
	/*background:#EBEBEB;*/
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background: url(../../images/integrate/btn04_line.png) no-repeat 50% 15%;
	color:#fff;
	border:1px solid #05CD41;
}
a.aa04-sky{
	vertical-align : top ;
	margin:3% 0px 2% 3%;		
	text-align: center;
	display:inline-block ;
	padding:55px 15px 0px 15px;
	width:135px;
	height:100px;
	line-height: 22px;
	/*background:#EBEBEB;*/
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background: url(../../images/integrate/btn04_sky.png) no-repeat 50% 15%;
	color:#fff;
		border:1px solid #00CCFF;
}
a.aa04-fb{
	vertical-align : top ;
	margin:3% 0px 2% 3%;	
	text-align: center;
	display:inline-block ;
	padding:55px 15px 0px 15px;
	width:135px;
	height:100px;
	line-height: 22px;
	/*background:#EBEBEB;*/
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background:url(../../images/integrate/btn04_fb.png) no-repeat 50% 15%;
	color:#fff;
	border:1px solid #3B59E8;
}

a.aa04-QR{
	vertical-align : top ;
	margin:3% 0px 2% 3%;	
	text-align: center;
	display:inline-block ;
	padding:55px 15px 0px 15px;
	width:135px;
	height:100px;
	line-height: 22px;
	/*background:#EBEBEB;*/
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background: url(../../images/integrate/wbtn04_QR.png) no-repeat 50% 15%;
	border: 1px solid #666;	
	color:#ccc;
}
a.aa04-QR:hover{
	background:url(../../images/integrate/wbtn04_QR.png) no-repeat 50% 15%;
	border: 1px solid #EEE;	
	}

a.aa04#icon01{
	
	background: url(../../images/integrate/wbtn04_01.png) no-repeat 50px 25px;
}
a.aa04#icon02{background: url(../../images/integrate/wbtn04_02.png) no-repeat 50% 15%;}
a.aa04#icon03{background: url(../../images/integrate/wbtn04_03.png) no-repeat 50% 15%;}
a.aa04#icon04{background: url(../../images/integrate/wbtn04_04.png) no-repeat 50% 15%;}
a.aa04#icon05{background: url(../../images/integrate/wbtn04_05.png) no-repeat 50% 15%;}
a.aa04#icon06{background: url(../../images/integrate/wbtn04_06.png) no-repeat 50% 15%;}
a.aa04#icon07{background: url(../../images/integrate/wbtn04_07.png) no-repeat 50% 15%;}
a.aa04#icon08{background: url(../../images/integrate/wbtn04_08.png) no-repeat 50% 15%;}
a.aa04#icon09{background: url(../../images/integrate/wbtn04_09.png) no-repeat 50% 15%;}
a.aa04#icon10{background: url(../../images/integrate/wbtn04_10.png) no-repeat 50% 15%;}
a.aa04#icon11{background: url(../../images/integrate/wbtn04_11.png) no-repeat 50% 15%;}
a.aa04#icon12{background: url(../../images/integrate/wbtn04_12.png) no-repeat 50% 15%;}
a.aa04#icon13{width:40%;background: url(../../images/integrate/wbtn04_13.png) no-repeat 50% 15%;}
a.aa04:hover{	border:#999 solid 1px;}

a.aa05{
	display:block;
	float:left;
	margin:30px;
	width:110px;
	height:110px;
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
	}
a.aa05#so01{ background:url(../../images/integrate/btn05_01.png) no-repeat center center;
             border:#3B5998 solid 4px;}
a.aa05#so02{ background:url(../../images/integrate/btn05_02.png) no-repeat center center;
             border:#48C7F1 solid 4px;}
a.aa05#so03{ background:url(../../images/integrate/btn05_03.png) no-repeat center center;
             border:#E47365 solid 4px;}
a.aa05#so04{ background:url(../../images/integrate/btn05_04.png) no-repeat center center;
             border:#42C133 solid 4px;}
a.aa05#so05{ background:url(../../images/integrate/btn05_05.png) no-repeat center center;
             border:#E54D54 solid 4px;}
a.aa05#so06{ background:url(../../images/integrate/btn05_06.png) no-repeat center center;
             border:#CF682F solid 4px;}
a.aa05#so07{ background:url(../../images/integrate/btn05_07.png) no-repeat center center;
             border:#7E6299 solid 4px;}
a.aa05#so01:hover,a.aa05#so02:hover,a.aa05#so03:hover,a.aa05#so04:hover,a.aa05#so05:hover,a.aa05#so06:hover,a.aa05#so07:hover{
	border:#CCC solid 4px;;
}

.clear{	display: block;  clear: both;}

/************* Tab ****************/

.tabs{
	width:100%;
}
#tabs {
	/*width: 500px;*/
	height:auto;
	margin: 0 auto;
  width:100%;
}

#tabs li {
	float: left;
	width:25%;
	height:80px;
}


#tabs li a{
	height:57px;
	display: block;
	padding: 23px 0px 0px 5px;
	text-align:center;
	font-size:27px;
}

#tabs li a:hover {
	background-color: rgba(0, 0, 0, 0.3);
}
#tabs_container {
	width:100%;
	height:100%;
	margin:0px auto;
	padding:0px;
	overflow: hidden;
	position: relative;
}

/*返回鈕定大小用*/
.backtag{
max-width:12px; 
}

/************************** 輸入表單設定 *********************** */
.BusinessC_reg{
	font-weight: bold;
	margin: 0px auto;
	text-align:center;
	width:80%;
	/*
	background-image:url(../images/sing_bg.png);	
	box-shadow:inset 0px 3px 8px rgba(33,33,33,.8);
	*/
	}
.BusinessC_reg input{
	margin:0px auto;
	padding:3px;
	width:100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.BusinessC_reg textarea{
	padding:5px;
	height:120px;
	margin:0px auto;
	width:100%;
	box-sizing:border-box;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.BusinessC_reg select{
	padding:5px;
	margin:0px auto;
	width:100%;
	box-sizing:border-box;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
/*送出鈕*/
.btnsubim{
	width:100%;
	border:none;
	padding:3px 3px 3px 20px;
	font-size: 1em;
	border-radius: .3em; -webkit-border-radius: .3em;-moz-border-radius: .3em; -ms-border-radius: .3em;
	color:#FFF;
	cursor:pointer;
	display:block;
	box-sizing:border-box;
	text-align:left;
	background: #66F;
	/*
	box-shadow:1px 2px 4px #999;
	-webkit-	box-shadow:1px 2px 4px #999;
	-moz-	box-shadow:1px 2px 4px #999;
	*/
}
.btnsubim:hover{
	background: #99E;
	box-shadow:1px 2px 2px #333;
}
/********************* 輸入表單 設定結束******************* */

/*tabs 動畫使用*/
.transition {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}

.make_transist {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.hidescale {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-o-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	filter: alpha(opacity=0);
	opacity: 0;
}

.showscale {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}

.hideleft {
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

.showleft {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}

.hidescaleup {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

.showscaleup {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}

.hideflip {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;

	-webkit-transform: rotatey(-90deg) scale(1.1);
	-moz-transform: rotatey(-90deg) scale(1.1);
	-o-transform: rotatey(-90deg) scale(1.1);
	-ms-transform: rotatey(-90deg) scale(1.1);
	transform: rotatey(-90deg) scale(1.1);

	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.showflip {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;

	-webkit-transform: rotatey(0deg) scale(1);
	-moz-transform: rotatey(0deg) scale(1);
	-o-transform: rotatey(0deg) scale(1);
	-ms-transform: rotatey(0deg) scale(1);
	transform: rotatey(0deg) scale(1);

	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.tabulous_active {
	/*background: white !important;*/
	color: #FFF !important;
	background: rgba(0, 0, 0, 0.0) url(../../images/integrate/tab-ar.png) no-repeat center bottom;
}

.tabulousclear {
	display: block;
	clear: both;
}
/************* Tab finish ****************/
