@charset "utf-8";
/*CSS RESET*/

img {border: 0;}

a img{border: 0;}


:focus {outline: 0;}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal;}

a{ text-decoration:none;
 outline: none; /* for Firefox Google Chrome  */
 behavior:expression(this.onFocus=this.blur()); /* for IE */
 color:#333;
}/*去除連結虛線框*/

*{-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin:0;padding:0
  }
/*------CSS END RESET------------------------------------------------*/


body
{
	background-color: #fff;
	font-family: "微軟正黑體", "新細明體-ExtB";
	color: #666;
	position: relative;
	-webkit-text-size-adjust: none;
	font-size:16px;
	
	
}

#menu{
	
	background-color:#fff;
	
	position: fixed;
	left:0;
	top:0;
	width:100%;
	max-width:100%;
	/*overflow:auto;*/
	z-index: 1000;
	
	-moz-box-shadow: 0px 0px 6px #C8C6C6;
    -webkit-box-shadow: 0px 0px 6px #C8C6C6;
    box-shadow: 0px 0px 6px #C8C6C6;
}

.menu-nav{ width:100%; 

}
.menu-nav li{ list-style:none; width:50%; float:left; text-align:center;height:44px; line-height:44px; }
.menu-nav li a{ width:100%; display:inline-block; font-size:14px; padding:0 0 5px 0; text-decoration:none; color:#666;  }


.menu-nav li a i { display:inline-block; width:100%; height:44px; font-style:normal; text-align:center;  }
.menu-nav li a i span{ display:inline-block; padding-left:50px;}
.menu-nav li:nth-child(1) a i span{ background: url(../icon-button/icon-about-me.png) no-repeat left center; background-size: 44px; }
.menu-nav li:nth-child(2) a i span{ background: url(../icon-button/icon-team.png) no-repeat left center; background-size: 44px; }


.menu-nav .now{
	
	color: #000;
	position: relative;
	background-image: url(../images/menu_now_bg.png);
	background-repeat: no-repeat;
	background-size: 100% 43px;
}

.menu-nav li:nth-child(1) a.now i span{ background: url(../icon-button/icon-about-me_now.png) no-repeat left center; background-size: 44px; }
.menu-nav li:nth-child(2) a.now i span{ background: url(../icon-button/icon-team_now.png) no-repeat left center; background-size: 44px; }



/*--BG樣式----*/
.bg-style{

	 background:url(../images/bg.png) repeat center top;
   
     
	}
	
	
.wrapper{ width:96% ;
float:left;
margin:20px 2% 100px 2%;

}



/*------index--------*/
.cover-img{  font-size:0; width:100%;}
.cover-img img{width:100%; height:auto; 
 }

.index-nav-menu{ width:100%; }
.index-nav-menu ul{width:100%;list-style: none;}
.index-nav-menu li{
display:inline;

}
.index-nav-menu li a{
	
	width:45%;
	border:2px solid #000;
	border-radius:8px;
	display:inline-block;
	
	padding:12px 0;
	text-align:center;	
	margin:2% 2%;
	}


.index-nav-menu li a:hover, .index-nav-menu li a:active{
	background-color:#000;
    color:#fff;
}



.i-button{
	vertical-align:top;
	display:inline-block ;
	margin: 0 0 20px 0;
	padding: 95px 0 5px 0;
	width: 32.4%;
	height:110px;
    cursor:pointer;
	
	color:#000;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體";
}



.i-button#icon-me{background: url(../icon-button/icon-me.png) no-repeat 50% 15%;	
background-size:88px;
}
.i-button#icon-i-vedio{background: url(../icon-button/icon-vedio.png) no-repeat 50% 15%;
background-size:88px;
}
.i-button#icon-i-photo{background: url(../icon-button/icon-photo.png) no-repeat 50% 15%;
background-size:88px;
}
.i-button#icon-i-article{background: url(../icon-button/icon-article.png) no-repeat 50% 15%;
background-size:88px;
}
.i-button#icon-i-enroll{background: url(../icon-button/icon-enroll.png) no-repeat 50% 15%;
background-size:88px;
}
.i-button#icon-i-link{background: url(../icon-button/icon-link.png) no-repeat 50% 15%;
background-size:88px;
}
.i-button#icon-i-annex{background: url(../icon-button/icon-annex.png) no-repeat 50% 15%;
background-size:88px;
}
.i-button#icon-i-share{background: url(../icon-button/icon-share.png) no-repeat 50% 15%;
background-size:88px;
}
.i-button#icon-i-cart{background: url(../icon-button/icon-cart.png) no-repeat 50% 15%;
background-size:88px;
}

.i-button#icon-i-ask{background: url(../icon-button/icon-ask.png) no-repeat 50% 15%;
background-size:88px;
}




.i-button:hover, .i-button:active{ color:#39F;}
/*-------------------------*/




/*------個人資訊-----------------------------*/

.i-photo {width:100%; text-align:center; margin-bottom:17px; }
.i-photo img{
	width:100%;
	height:auto;
width:80px; height:80px;
border-radius:50%;
-o-border-radius:50%;
-webkit-border-radius:50%;
-moz-border-radius:50%;	
border:5px solid #fff;
-moz-box-shadow: 0px 0px 6px #C8C6C6;
-webkit-box-shadow: 0px 0px 6px #C8C6C6;
box-shadow: 0px 0px 6px #C8C6C6;
}

.my-name{
	width:100%;
	text-align:center;
	padding:10px 0 15px 0;
	font-size:20px;
	color:#000333;
	
	}



/*-----介紹 -------*/

.sub-i-content {
 	font-size: 14px;
	padding:20px 0 20px;
 }

.my-title {
	/*padding: 1%;*/
	
}
.my-title li{
	background-image: url(../images/dot-title.png);
	background-size:16px auto;
	background-repeat: no-repeat;
	background-position: 2px center;	
	border-bottom:1px dotted #adb2bc;
    padding: 5px 5px 5px 20px;
	display: block !important;
}

.my-word{
	margin-top:20px;
	padding: 34px 5px 35px 5px;
	line-height: 1.6em;
	background: url(../images/icon-talk01.png) no-repeat left top, url(../images/icon-talk02.png) no-repeat right bottom;
	border-bottom:1px dotted #adb2bc;
}


/*----聯絡我-----*/
.c-button{
	vertical-align:top;
	display:block ;
	float:left;
	margin: 0 0 15px;
	padding: 90px 0 5px 0;
	width: 33.3%;
	height:120px;
    cursor:pointer;
	
	color:#333;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體";
}

.c-button:hover{
filter: alpha(opacity=80); opacity:.8;
	}

.c-button#icon-phone{background: url(../icon-button/icon-phone.png) no-repeat 50% 15%;	
background-size:80px;
}
.c-button#icon-tel{background: url(../icon-button/icon-tel.png) no-repeat 50% 15%;
background-size:80px;
}
.c-button#icon-fax{background: url(../icon-button/icon-fax.png) no-repeat 50% 15%;
background-size:80px;
}
.c-button#icon-number{background: url(../icon-button/icon-number.png) no-repeat 50% 15%;
background-size:80px;
}
.c-button#icon-email{background: url(../icon-button/icon-email.png) no-repeat 50% 15%;
background-size:80px;
}
.c-button#icon-add{background: url(../icon-button/icon-add.png) no-repeat 50% 15%;
background-size:80px;
}

.c-button#icon-skype{background: url(../icon-button/icon-skype.png) no-repeat 50% 15%;
background-size:80px;
}
.c-button#icon-fb{background: url(../icon-button/icon-fb.png) no-repeat 50% 15%;
background-size:80px;
}
.c-button#icon-line{background: url(../icon-button/icon-line.png) no-repeat 50% 15%;
background-size:80px;
}
.c-button#icon-wechat{background: url(../icon-button/icon-wechat.png) no-repeat 50% 15%;
background-size:80px;
}
.c-button#icon-whatsapp{background: url(../icon-button/icon-whatsapp.png) no-repeat 50% 15%;
background-size:80px;
}
.c-button#icon-instagram{background: url(../icon-button/icon-instagram.png) no-repeat 50% 15%;
background-size:80px;
}


.qr-title{
	width:100%;
	
	padding:10px 0 5px 15px;
	margin-bottom:10px;
	font-size:20px;
	color:#000333;
	border-bottom:1px solid #1093dd;
	}

.qr-code{
	width:98%;
	text-align:center;
    display:inline-block;
	margin: 0 0.5%;
	margin-bottom:25px;
	padding-bottom:25px;
	font-size:20px;
	
	}
.qr-code img{ width:100%; height:auto; max-width:200px; border:5px solid #ccc;}


/*----代表關於我 單元出現的ICON-----*/
.icon-my { display:inline-block; width:29px; height:29px;  position:absolute; z-index:10; margin-top:5px; left:10px;}
.icon-my img{width:29px; height:29px; 
border-radius: 75px;
-o-border-radius: 75px;
-moz-border-radius: 75px;
-webkit-border-radius: 75px;
border:2px solid #fff;}


/*---分類列---- 影片/文章/相簿/表單/網路連結/附件/分享券/-----------------------------*/
.common-item-ul{width:100%; list-style:none;}

.common-item-ul li{margin-bottom:20px;}


.common-item-ul li a{
	display:block;
    background-image: url(../images/common-item-ul-li-bg.png);
	background-size:87px auto;
	background-repeat: no-repeat;
	background-position: right bottom;
	padding: 3%;
	min-height:44px;
	border:1px solid #000;
	border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	color:#000;
	
}

.common-item-ul li a:hover, .common-item-ul li a:active{
	background-color: #fff;
	color:#c9a063 !important;
	border:1px solid #c9a063;
	
	}

.common-item-ul li h2{
	margin-bottom:5px;
	width:90%;
}


/*------列表頁-預設樣式--------------*/
.content{margin-bottom:70px; float:left;clear:both; width:100%; /*保持跟底部的距離*/}

/*---影片跟相簿用這個info-list-------*/
.w-half{ width:48%; margin:0 1%;}
.info-list { float:left; margin-bottom:15px;}
.info-list h2{ font-size:16px; line-height:1.6em; height:55px; 
clear:both; overflow:hidden; padding:0 10px;}

.info-list a{ color:#333;}
.info-list:hover, .info-list:active{ 
-moz-box-shadow: 0px 0px 5px #ccc;
-webkit-box-shadow: 0px 0px 5px #ccc;
box-shadow: 0px 0px 5px #ccc;}




/*.list-img{ width:30%; display:inline-block; float:left;
text-align: center;
overflow:hidden;
box-sizing: border-box;}
.list-img img{ width:100%; height:auto; overflow:hidden;
border-radius:8px; 
-o-border-radius:8px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
 /*max-width:250px;*/
 
 
 
 
/*----(方法)--當圖片大小不一致的時候，讓他安安穩穩躺在你指定的div大小裡-----*/
.item-img{ float:left; background-color:#ccc;
text-align: center;
overflow:hidden;
box-sizing: border-box;
width:100%;
}

.item-img img{ width:100%;overflow:hidden; }

.fix {
  
    position:relative;
    overflow:hidden;
   /* width:100%;*/
    float:left;
	border-radius:8px; 
-o-border-radius:8px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
} 
.fix:after {
    padding-top: 56.25%;
    content:"";
    display: block;
}
.fix img {
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    max-width:100%;
    margin:auto;
}

.list-word{ width:70%;display:inline-block; float:left; padding-left:5%; }

/*---影片/文章/相簿/表單/網路連結/附件/分享券/-------------------------------*/




/*---------------------------------------------*/
/*--內容頁----*/


/*--內頁標題---*/
.content-title{
	text-align: left;
	margin: 44px 0 5% 0;
	padding: 0 10px 15px 20px;
	color: #333;
	border-bottom:1px solid #c9a063;
	background-image: url(../images/dot-title.png);
	background-size:16px auto;
	background-repeat: no-repeat;
	background-position: 2px 2px;	
	
	}





.icon-go-vedio{
	background-image: url(../images/icon-go-vedio.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 25px auto;
	position:absolute;
	z-index:10;
	display:block;
	width:50px;
	height:50px;
}
/*-----YOUTUBE影片 響應式------------------*/
.vedio-box{ width:100%; text-align:center; float:left; clear:both;}

.video-container {
    position: relative;
	z-index:1;
    padding-bottom: 56.25%;
    height: 0; overflow: hidden;
	border:7px solid #fff;
	background-color:#fff;
	
	
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:1;
}

/*--------相簿內頁----------*/

.photo-word{ color:#fff;}

/*----文章-------*/

.article-list{
	
    margin-bottom:15px;
}
.article-list a{
	display:block;
   
	
	padding: 3%;
	padding-bottom: 19px;
	border: 1px solid #ccc;
	border-top: 2px solid #c9a063;
	background-color: rgba(255,255,255,0.7);
	
}

.article-list a:hover, .article-list a:active{
	background-color: transparent;
	
	}

.article-list h2{
	color:#333;
	font-size:16px;
	margin-bottom:5px;
}
.article-list div{
	color:#999;
	font-size:14px;
	
}


/*---文章編輯器裡的圖片----*/
.word-area img{ width:100%; height:auto;}


/*-------報名表單----------------*/
.enroll-list{
	
    margin-bottom:15px;
}
.enroll-list a{
	display:block;
    background-image: url(../images/go-enroll.png);
	background-size:16px auto;
	background-repeat: no-repeat;
	background-position: 10px center;
	padding: 3% 3% 3% 30px;
	
	border: 1px dotted #ccc;
	
	
	
}

.enroll-list a:hover, .enroll-list a:active{
	background-color: transparent;
	
	}

.enroll-list h2{
	line-height:1.6em;
}
.enroll-list div{
	color:#999;
	font-size:14px;
	height:36px;
	overflow:hidden;
}





/*-------網路連結--------*/

.link-list ul li{
	list-style:none;
	display:inline-block;
	margin:10px;
	}

.link-list li a{
	display:inline-block;
	
	border-radius:5px;
	-o-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-bottom: 3px solid #333;

	background-color: rgba(255,255,255,0.8);
	line-height:1.4em;	
	background-image: url(../images/dot-title.png);
	background-size:16px auto;
	background-repeat: no-repeat;
	background-position: 2px center;	
	
    padding: 10px 10px 10px 20px;
}


.link-list li a:hover, .link-list li a:active{
	background-color:#333;
	color:#fff;
	
}

/*---------附件---------------*/

.annex-list ul li{
	list-style:none;
	width:100%;
	
	}

.annex-list li a{
	
	padding: 3%;
	padding-right:12%;
	display: block;
	border-bottom: 1px dotted #c9a063;
	background-image: url(../images/dot-arrow3.png);
	background-size:24px auto;
	background-repeat: no-repeat;
	background-position: 98% center;
	
	min-height:45px;
	line-height:1.6em;
}

.annex-list li a:hover, .annex-list li a:active{
	background-color:#fff;
	color:#c9a063;
	
}

/*-----分享券-----------*/



.share-list { float:left; background-color:#fff; margin-bottom:15px; 
border-radius:10px;
-o-border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border:1px solid #ccc;
overflow:hidden;
width:100%;
}


.share-list h2{ font-size:16px; line-height:1.6em;
clear:both;  /*height:55px; overflow:hidden;*/ padding:10px;}
	
.share-list a{ color:#333;}
.share-list:hover, .share-list:active{ 
-moz-box-shadow: 0px 0px 5px #ccc;
-webkit-box-shadow: 0px 0px 5px #ccc;
box-shadow: 0px 0px 5px #ccc;}


.btn-share a{
	display:block;
	width:50%; 
	font-size:18px; 
	color:#fff; 
	background-color:#c9a063; 
	margin:25px 0 5% 0;
	border-radius: 75px;
	-o-border-radius: 75px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	text-align:center;
	padding: 10px;
}

.btn-share a:hover, .btn-share a:active{background-color:#af844a;}

.mt{ margin-top:0;}

.shadow{width: 100%;}

.shadow img{width:100%; height:auto; max-width:749px;}
