<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
        <title>全聚網02版</title>
        <link type="text/css" rel="stylesheet" href="css/header.css" />
		<link type="text/css" rel="stylesheet" href="css/layout.css" />
		
        <link href="css/font-awesome.min.css" rel="stylesheet">
        
    
        <!-------相簿輪播----------->
            <link type="text/css" rel="stylesheet" href="css/photo-slide.css" />
        

        <!-------設定檔------------>
        <link href="css/setting.css" rel="stylesheet" type="text/css">
        
	</head>
    
	<body class="bg-style">
		    
            <div id="menu">
                <ul class="menu-nav">
                  <li class="animated fadeIn"><a class="now" href="index.html"><i><span>關於我</span></i></a></li>
                  <li class="animated fadeIn"><a href="team.html"><i><span>團隊情報</span></i></a></li>
                   
                </ul>
            </div> 
           
			

                 
           <div class="wrapper">
               <section class="content">
                   
                  
                    <h1 class="content-title set-c-title">這邊是標題-自花都藝術節花都藝術節花都藝術節訂標題</h1>
                    
                                 <section class="cntr photo-word set-c-word">
                                      <div class="cntr">
                                          <ul class="pgwSlideshow">
                                              <li><img src="images/san-francisco.jpg" data-description="(64個字)升息預期，國際美元指數上周突破99價位，衝擊國際金價重跌至每盎司1,065美元，創6年新低。統計2011年9月黃金衝到歷史高點的1,920美元"></li>
                                              <li><img src="images/rio.jpg" data-description="升息預期，國際美元指數上周突破99價位，衝擊國際金價重跌至每盎司1,065美元，創6年新"></li>
                                              <li><img src="images/new-delhi.jpg" data-description="(888888國際美元指數上周突破99價位，衝擊國際金價重跌至每盎司1,065美元，創6年新"></li>
                                              <li><img src="images/demo-img4.jpg" data-description="(個字)升息預期，國際美元指數上周突破99價位，衝擊國際金價重跌至每盎司1,065美元，創6年新"></li>
                                              <li><img src="images/demo-img3.jpg" data-description="(個字)升息預期，國際美元指數上周突破99價位"></li>
                                              <li><img src="images/demo-img2.jpg" data-description="(個字)升息預期，國際美元指數上周突破99價位"></li>
                                              <li><img src="images/sydney.jpg" data-description="(個字)升息預期，國際美元指數上周突破99價位"></li>
                                              <li><img src="images/tokyo.jpg" data-description="(升息預期，國際美元指數上周突破99價位"></li>
                                              <li><img src="images/honk-kong.jpg" data-description="9999999升息預期，國際美元指數上周突破99價位"></li>
                                              <li><img src="images/dakar.jpg" data-description="99999999升息預期，國際美元指數上周突破99價位"></li>
                                              <li><img src="images/toronto.jpg" data-description="------------9!息預期，國際美元指數上周突破99價位"></li>
                                       
                                          </ul>
                                      </div>
                                     
                               </section>
              </section><!-- content -->               
         </div><!--/wrapper-->
        
             
        <!-------相簿輪播 JS 要寫在 底下才有用----------->     
        <script src="js/jquery.min.js" type="text/javascript"></script> 
  </body>
</html>