<!DOCTYPE html>
<html>
   <head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
        <title>全聚網02版</title>
        <link type="text/css" rel="stylesheet" href="css/header.css" />
		<link type="text/css" rel="stylesheet" href="css/layout.css" />
		<script type="text/javascript" src="js/jquery-1.9.0.min.js"></script>
        <link href="css/font-awesome.min.css" rel="stylesheet">        
        <link href="css/animateCSS.css" rel="stylesheet">
        
        <!-------設定檔------------>
        <link href="css/setting.css" rel="stylesheet" type="text/css">
	</head>
    
	<body class="bg-style">
    
            <div id="menu">
                <ul class="menu-nav">
                    <li class="animated fadeIn"><a class="now" href="index.html"><i><span>關於我</span></i></a></li>
                    <li class="animated fadeIn"><a href="team.html"><i><span>團隊情報</span></i></a></li>
                   
                </ul>
           </div> 
           
		
			<header class="header">	
				王小明   Jerry Wang
			</header>
			
            <div class="cover-img"><img src="images/cover-image.jpg" ></div>

             <div class="wrapper">
                   
                  <div class="index-nav-menu">
                      <ul>
                            <li><a href="i-about.html">個人資訊</a></li>
                            <li><a href="i-vedio.html">影片</a></li>	
                            <li><a href="i-photo.html">相簿</a></li>
                            <li><a href="i-article.html">文章</a></li>
                            <li><a href="i-enroll.html">報名表單</a></li>	
                            <li><a href="i-link.html">網路連結</a></li>
                            <li><a href="i-annex.html">附件</a></li>
                            <li><a href="i-share.html">好友分享券</a></li>
                            <li><a href="#">購物車</a></li>	
                      
                      </ul>
                  </div>
            </div><!--/wrapper-->
                  
          
      
           
      
            
	  
  </body>
</html>