form * {
    font-family: 'Microsoft Jhenghei';
}
.aa3 {
    font-size: 17px;
    padding: 5px 10px 5px 10px;
    border: none;
    margin: 20px 5px;
    display: inline-block;
    background: #DA5049;
    color: #FFF;
    border-radius: 3px;
    text-align: center;
    font-family: '微軟正黑體';
}
input[type="text"] {
    width: 50%;
    padding: 7px;
    border: 1px solid #CAC2A9;
    border-radius: 3px;
    margin: 0px 3px;
    font-size: 1em;
    font-family: 'Microsoft Jhenghei';
    -webkit-box-shadow: inset 3px 3px 5px #eee;
    -moz-box-shadow: inset 3px 3px 5px #eee;
    box-shadow: inset 3px 3px 5px #eee;
}
button {
    padding: 5px 10px 5px 10px;
    margin: 0px 3px;
    font-size: 17px;
    border-radius: 3px;
}
td {
    padding: 0 15px;
}
.title_td {
    width: 10%;
}
fieldset {
    border: 0;
    padding: 10px;
    margin: 50px;
    background: #EEE;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: -webkit-liner-gradient(top, #EEEEEE, #FFFFFF);
    background: linear-gradient(top, #EFEFEF, #FFFFFF);
    box-shadow: 3px 3px 10px #666;
    -moz-box-shadow: 3px 3px 10px #666;
    -webkit-box-shadow: 3px 3px 10px #666;
    position: relative;
}
legend {
    padding: 5px 10px;
    background-color: #4F709F;
    color: #FFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 2px 2px 4px #666;
    -moz-box-shadow: 2px 2px 4px #666;
    -webkit-box-shadow: 2px 2px 4px #666;
    position: absolute;
    left: 10px;
    top: -11px;
}
.margin20 {
    margin: 20px;
}