@charset "UTF-8";	
*{margin: 0;padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Heiti TC","Heiti TC Light", "Helvetica Neue", 微軟正黑體, Helvetica, "Microsoft JhengHei", Arial;
}
td{margin: 0;padding: 0;}
fieldset,img { border:0;}
img{ vertical-align:top; }
:focus {outline: 0;}
a{text-decoration:none;}
:hover{transition:all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal;}
input, button, textarea,select, optgroup, option {
  font-family: inherit;font-size: inherit;font-style: inherit;font-weight: inherit;}｀
code, kbd, samp, tt {font-size: 100%;} 
/*purpose To enable resizing for IE */
/*branch For IE6-Win, IE7-Win */
input, button, textarea, select {*font-size: 100%;}
ul li {list-style: none;}
table {border-collapse:collapse;border-spacing:0;}

:link, :visited , ins {text-decoration: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
 
 
/*HTML5 tag*/
section, article, aside, footer, header, nav, main {display:block;}
input[type="text"] , input[type="password"], textarea{padding:.5em;}	

p{line-height:160%;}
body{
	font-size:100%; overflow-x:hidden; background:#ECECEC; 
	line-height:100%; /*margin-top:4em;*/
	}
header{	
	width:100%; max-width:100%; min-height:120px;
	margin: 0 auto; padding: 0; text-align:center; 
	}
/*header img{ max-height:140px; width:auto; max-width:100%;  margin:0 auto; }*/
header img{ width:100%; max-width:100%; height:auto; }

nav{ width:100%; max-width:100%; padding:.5em; position:fixed; 
	 z-index:9999999; /*margin-top:-4em;*/ }
#container{max-width:1200px; margin: 0 auto 1em auto; }
.www{max-width:1200px; margin-right:auto; margin-left:auto;}
.clear{clear:both;}
.status{
	width:100%; max-width:100%;
	text-align:right;
	}
.status li{
	display:inline-block;
	margin:.7em .3em;
	}
.aa1{
	width:2em;
	height:2em;
	line-height:2em;
	display:block;
	text-align:center;
			 border-radius: 50em;	
	     -o-border-radius: 50em;
	   -moz-border-radius: 50em;
	-webkit-border-radius: 50em;
	background: #333;
	border:solid 1px #333; 
	color: #CAA771; 
	}
.aa1:hover{
	border:solid 1px #BA9B68; 
	background:none;
	cursor:pointer;
	}
.aa2{
	height:2em;
	line-height:2em;
	padding-left:1em;
	padding-right:1em;
	display:block;
	text-align:center;
	text-align:center;
			 border-radius: 50em;	
	     -o-border-radius: 50em;
	   -moz-border-radius: 50em;
	-webkit-border-radius: 50em;
	border:solid 1px #BA9B68; 
	color:#BA9B68;
	}
.aa2:hover{
	background:rgba(255,255,255,.5);
	}
.aa3{ padding-right:1em; color:#333; cursor:pointer; }
.aa3:hover{ color:#B99A67; }


footer{ 
	width:100%; max-width:100%;  margin:2em 0 0 0; 
	padding:1em 0; line-height:160%; font-size:.9em;
	color:#333; 	
/*	border-top: solid 1px #FFF;
	background:#333;
	-webkit-box-shadow: 0px -3px 6px 0px rgba(50, 50, 50, 0.1);
	-moz-box-shadow:    0px -3px 6px 0px rgba(50, 50, 50, 0.1);
	box-shadow:         0px -3px 6px 0px rgba(50, 50, 50, 0.1);*/
	}
.foo1{ width:70%; float:left; padding:0 .5em;  }
.foo2{ width:30%; float:right; text-align:right; }
.foo2 a{margin: 0.3em; font-size:1.5em; color:#333; display:inline-block;}
.foo2 a:hover{color:#B99A67;}
.fooTXT{ padding-right:10px; display:inline-block;}

@media only screen and (max-width: 720px) {
	footer{ text-align:center; padding:1em;}
	.foo1, .foo2 { width:100%; text-align:center; }
	.foo2 a{font-size:2em; margin: 1em .3em; }
}
@media only screen and (max-width: 480px) {
   .fooTXT{width:100%; }
}

.pName{padding:.6em .3em; 
		display:block; 
       border-top:solid 1px #BA9B68; 
	   -moz-box-shadow:inset 0 8px 6px -6px rgba(0,0,0,0.1) ;
	   -webkit-box-shadow:inset 0 8px 6px -6px rgba(0,0,0,0.1) ;
	   box-shadow:inset 0 8px 6px -6px rgba(0,0,0,0.1) ;  
	   font-size:.95em;
	   white-space:nowrap;
	   overflow:hidden;
	   text-overflow:ellipsis; 
	   }
.pPrice{color:#BA9B68;}		
.pp{
	/*width:20%; padding:8px;*/ margin:1%;
	float:left; 
   	text-align:center;
	position:relative;
	}	
.product{
	/*width:100%; */ 
	width:11.5em; margin:0 auto; 
	display:block; padding-bottom:.5em; overflow:hidden;
	background:#fff; color:#333;
	
	border-radius: 1px;	
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-ms-border-radius: 1px;
	-o-border-radius: 1px;
	}
.product:hover{
	background: #333;
	
	transition:all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	
	box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.3);
	-webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.3);
	-ms-box-shadow:     0px 0px 6px 0px rgba(50, 50, 50, 0.3);
	
	opacity:.9;
	/*opacity:.7;
	outline: solid 1px #BA9B68;*/
	}
.product:hover .pName{ color:#fff; }
.product:hover .pPrice{ color:#fff; }		

.view{
	/*width:100%; height:auto; */overflow:hidden; 
	position:relative;
	
	width:11.5em; height:11.5em;  background:#fff;
	overflow:hidden; 
	display:table-cell;
	text-align:center;
	vertical-align:middle; /*to　firefox*/
	position:relative;
	line-height:0 !important;
	
	}
.view img{ /*width:100%; height:auto; vertical-align:top;*/
	max-width:100%; max-height:100%; height:auto;  
	position:static !important;　
	top:-50%; /*IE向上-50%*/　
	left:-50%; /*IE向左-50%*/　
	}

@media only screen and (max-width: 768px) {
	footer{ text-align:center;}
}
	
@media  only screen and (min-width: 1025px) {
	.pp{width:/*20*/ 18%;}
}		
@media  only screen and (min-width: 769px) and (max-width: 1024px) {
	.pp{width:/*25*/ 23%;}
}	
@media  only screen and (min-width: 481px) and (max-width: 768px) {
	.pp{width:/*33.33333333*/ 31%;}
}	
@media only screen and (max-width: 480px) {
	.pp{width:/*50*/ 48%; }
}
@media  only screen and (min-width: 531px) and (max-width: 600px) {
	.product{ width:10.5em;  }
	.view{ width: 10.5em; height: 10.5em; }
}	
@media  only screen and (min-width: 481px) and (max-width: 530px) {
	.product{ width:9em; }
	.view{ width: 9em; height: 9em; }
}	
@media  only screen and (max-width: 399px) {
	.product{ width:10.5em;  }
	.view{ width: 10.5em; height: 10.5em; }
}
@media  only screen and (max-width: 359px) {
	.product{ width:10.2em;  }
	.view{ width: 10.2em; height: 10.2em; }
}
@media  only screen and (max-width: 330px) {
	.product{ width:9em; }
	.view{ width: 9em; height: 9em; }
}


/*********** the effect of product:hover ***********/
.view .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background-color: rgba(0,0,0,0.85);
   color:#FFF;
}
.mask h6{
	margin: 45% auto 0 auto;
	display: inline-block;
	padding: .5em .8em;
	text-transform:uppercase;
	border:solid 1px #FFF;
    opacity: 0;
	font-size:.9em;
	line-height:100%;
	}
.product:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}
.view:hover img, .product:hover img {
 	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);  
	-webkit-transition: all .6s ease-in-out;
   -moz-transition: all .6s ease-in-out;
   -o-transition: all .6s ease-in-out;
   -ms-transition: all .6s ease-in-out;
   transition: all .6s ease-in-out;
}
 .product:hover h6{opacity: 1;}
/*********** the effect of product:hover ***********/


.new-a01, .new-a02{
	width:26px;
	height:38px;
	position:absolute;
	top:-8px;
	left:5px;
	background:red;
	z-index:99999;
	background-size: 100% auto !important;
	text-indent:-9999999999px;
	color:transparent;
	}
.new-a01{background:url(../img/new-1.png) no-repeat 0 0;}
.new-a02{background:url(../img/new-2.png) no-repeat 0 0;}


.new-b01, .new-b02{
	width:30px;
	height:30px;
	line-height:30px;
	font-size:12px;
	position:absolute;
	top:-8px;
	left:5px;
	text-align:center;
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	-ms-border-radius: 50em;
	-o-border-radius: 50em;
	border-radius: 50em;	
	font-family: 'Shadows Into Light', cursive;
	z-index:99999;
	}
.new-b01{ background:#BB9C5F; color:#fff;}
.new-b02{ background:#EC3F3B; color:#fff;}

.new-c01, .new-c02{
	width:50px;
	height:50px;
	position:absolute;
	right:-2px;
	top:-2px;
	background-size: 100% auto !important;
	z-index:99999;
	text-indent:-9999999999px;
	color:transparent;
	}
.new-c01{background:url(../img/ribbon-1.png) no-repeat 0 0;}
.new-c02{background:url(../img/ribbon-2.png) no-repeat 0 0;}


.new-d01, .new-d02{
	font-size:12px;
	padding:0 6px;
	position:absolute;
	margin:5px;
	right:0;
	top:0;
	display:inline-block;	
	text-align:center;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;	
	font-family: 'Shadows Into Light', cursive;
	z-index:99999;
	}
.new-d01{ background:#BB9C5F; color:#fff;}
.new-d02{ background:#EC3F3B; color:#fff;}

.new-e01, .new-e02{
	width:40px;
	height:40px;
	position:absolute;
	right:0;
	top:0;
	background-size: 100% auto !important;
	z-index:99999;
	text-indent:-9999999999px;
	color:transparent;
	}
.new-e01{ background:url(../img/new-e1.png) no-repeat 0 0;}
.new-e02{ background:url(../img/new-e2.png) no-repeat 0 0;}



.load-more{ width:100%; max-width: 160px; display:block; padding:1em 0; margin:1em auto; text-align:center; border:solid 1px #BB9C5F; color:#BB9C5F; 
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px; }
.load-more:hover{ text-decoration:none; background: #fff; }