<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
        <title>全聚網02版</title>
        <link type="text/css" rel="stylesheet" href="css/header.css" />
		<link type="text/css" rel="stylesheet" href="css/layout.css" />
		<script type="text/javascript" src="js/jquery-1.9.0.min.js"></script>
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/animateCSS.css" rel="stylesheet">
        
       <!-- TAB-->
       <link type="text/css" rel="stylesheet" href="css/tab.css" />
       <script src="js/modernizr.js"></script> <!-- Modernizr -->
       <script src="js/tab-main.js"></script> <!-- Resource jQuery -->
        <!-------設定檔------------>
        <link href="css/setting.css" rel="stylesheet" type="text/css">
	</head>
    
	<body class="bg-style">
    
		    <div id="menu">
                <ul class="menu-nav">
                    <li class="animated fadeIn"><a class="now" href="index.html"><i><span>關於我</span></i></a></li>
                    <li class="animated fadeIn"><a href="team.html"><i><span>團隊情報</span></i></a></li>
                   
                </ul>
           </div> 
           
                    
            <header class="header">	
				<i class="icon-my"><img src="images/cover-image.jpg"></i>個人資訊
			</header>
			

                 
                 <div class="wrapper">
  
                     
                     <div class="my-name"><p>王小明<p><p>Jerry Wang</p></div> 
 
                    
                      <div class="cd-tabs">
                            <nav>
                                <ul class="cd-tabs-navigation">
                                    <li><a data-content="select-master" class="selected" href="#0">介紹</a></li>
                                    <li><a data-content="contact-me" href="#0">聯絡我</a></li>
                                    <li><a data-content="qr" href="#0">QR碼分享</a></li>
                                    
                                </ul> <!-- cd-tabs-navigation -->
                            </nav>
                        
                            <ul class="cd-tabs-content">
                                <li data-content="select-master" class="selected">
                               
                                        <div style="display:block" class="m-s-menu_body">
                                               <section class="sub-i-content set-my-info">
                                                   <ul class="my-title"> 
                                                      <li>台灣網際網路行銷研究協會顧問</li>
                                                      <li>台中市電子商務協會常務理事</li>
                                                      <li>中國生產力中心網路行銷課程講師</li>
                                                      <li>經濟部行銷躍升計畫行動商務講師</li>
                                                   </ul> 
                                                   <article class="my-word">
                                                      這邊放自我介紹的文字這邊放自我介紹的文字這邊放自我介紹的文字這邊放自我介紹的文字這邊放自我介紹的文字這邊放自我介紹的文字這邊放自我介紹的文字這邊放自我介紹的文字這邊放自我介紹的文字這邊放自我介紹的文字這邊放自我介紹的文字這邊放自我介紹的文字。
                                                   </article>
                                                </section>
                                        </div>
                                    
                                </li>
                        
                        
                                <li data-content="contact-me">
                                     <div class="m-s-menu_body">
                                             <section class="sub-i-content">
                                                <a class="c-button" id="icon-phone">0925885562</a>
                                                <a class="c-button" id="icon-tel">公司電話</a>
                                                <a class="c-button" id="icon-fax">傳真號碼</a>
                                                <a class="c-button" id="icon-number">統一編號</a>
                                                <a class="c-button" id="icon-email">電子信箱</a>
                                                <a class="c-button" id="icon-add">地址</a>
                                                <a class="c-button" id="icon-skype">Skype</a>       
                                                <a class="c-button" id="icon-fb">Facebook</a>
                                                <a class="c-button" id="icon-line">Line</a>
                                                <a class="c-button" id="icon-wechat">微信</a>
                                                <a class="c-button" id="icon-whatsapp">What’s App</a>
                                                <a class="c-button" id="icon-instagram">Instagram</a>   
                                            </section>
                                    </div>       
                                </li>
                        
                        
                        
                        
                                <li data-content="qr">
                                       <div class="m-s-menu_body">
                                                                        
                                                <section class="sub-i-content">
                                                    <a class="qr-code set-qr-word" href="#"><img src="images/qr-code.jpg" ><p>APP下載-IOS</p></a>
                                                    <a class="qr-code set-qr-word" href="#"><img src="images/qr-code.jpg" ><p>APP下載-安卓</p></a>
                                                    <a class="qr-code set-qr-word" href="#"><img src="images/qr-code.jpg" ><p>行動商務行動版</p></a>
                                                </section>
                                      </div>    
                                </li>
                        
                                
                            </ul> <!-- cd-tabs-content -->
                     </div> <!-- cd-tabs -->
                    
                    
                    
                  
                    
                    
                    
                    
                   
               </div><!--/wrapper-->
               
            
	 
  </body>
</html>