<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
        <title>全聚網02版</title>
        <link type="text/css" rel="stylesheet" href="css/header.css" />
		<link type="text/css" rel="stylesheet" href="css/layout.css" />
		<script type="text/javascript" src="js/jquery-1.9.0.min.js"></script>
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/animateCSS.css" rel="stylesheet">
       
       
       
       
        <!-------設定檔------------>
        <link href="css/setting.css" rel="stylesheet" type="text/css">
	</head>
    
	<body class="bg-style">
		    
            <div id="menu">
                <ul class="menu-nav">
                  <li class="animated fadeIn"><a class="now" href="index.html"><i><span>關於我</span></i></a></li>
                  <li class="animated fadeIn"><a href="team.html"><i><span>團隊情報</span></i></a></li>
                   
                </ul>
           </div> 
           
            
            <header class="header">	
				<i class="icon-my"><img src="images/cover-image.jpg"></i>附件分類
			</header>

                 
                 <div class="wrapper">
  
                        <ul class="common-item-ul">
                           <li class="animated2 fadeInDown">
                                <a href="i-annex2.html">                                                             
                                  <h2 class="set-title01">附件001類</h2> 
                                  
                                </a>  
                           </li>
                               
                           <li class="animated2 fadeInDown">
                                <a href="i-annex2.html">                                                             
                                  <h2 class="set-title01">優質車類</h2> 
                                  
                                </a>  
                           </li>
                           
                           <li class="animated2 fadeInDown">
                                <a href="i-annex2.html">                                                             
                                  <h2 class="set-title01">附件001類</h2> 
                                  
                                </a>  
                           </li>
                               
                          <li class="animated2 fadeInDown">
                                <a href="i-annex2.html">                                                             
                                  <h2 class="set-title01">創意好下手類</h2> 
                                  
                                </a>  
                           </li>
                       </ul>
   
                   
               </div><!--/wrapper-->
               
           
                    
	 
  </body>
</html>