@charset "UTF-8";	
*{margin: 0;padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Heiti TC","Heiti TC Light", "Helvetica Neue", 微軟正黑體, Helvetica, "Microsoft JhengHei", Arial;
}
td{margin: 0;padding: 0;}
fieldset,img { border:0;}
:focus {outline: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  }
a{text-decoration:none;}
:hover{transition:all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal;}
input, button, textarea,select, optgroup, option {
  font-family: inherit;font-size: inherit;font-style: inherit;font-weight: inherit;}
code, kbd, samp, tt {font-size: 100%;} 
/*purpose To enable resizing for IE */
/*branch For IE6-Win, IE7-Win */
input, button, textarea, select {*font-size: 100%;}
ul li {list-style: none;}
table {border-collapse:collapse;border-spacing:0;}

:link, :visited , ins {text-decoration: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
 
/*HTML5 tag*/
section, article, aside, footer, header, nav, main {display:block;}
input[type="text"], input[type="number"] , input[type="password"], textarea{ padding: .2em .5em; max-width:100%;}	

p{line-height:160%;}
body{font-size:100%; overflow-x:hidden; background:#222;  /*margin-top:4em;*/  }

header{	
	width:100%; max-width:100%;
	height:38px;
	/*padding-top:6px;*/
	margin: 0 auto; text-align:center; 
	/*border-bottom: solid 1px rgba(0, 0, 0, 0.1);*/
	border-bottom: solid 1px rgba(255, 255, 255, 0.8);
	-moz-box-shadow: 0 8px 6px -6px rgba(50, 50, 50, 0.1) ;
	-webkit-box-shadow: 0 8px 6px -6px rgba(50, 50, 50, 0.1) ;
	box-shadow: 0 8px 6px -6px rgba(50, 50, 50, 0.1) ;
	background: #f8f8f8; z-index:9999999;
	  }
header img{ max-width:100%; height:auto; margin:0 auto;}
nav{ width:100%; max-width:100%; padding:.5em; position:fixed; 
	 z-index:9999999; /*margin-top:-4em;*/ }
.img-full img {width: 100%}
#container{ width:100%; max-width:100%; max-width:1200px; margin: 0 auto 1em auto; }
.www{width:100%; max-width:1200px; margin-right:auto; margin-left:auto;}
.clear{clear:both;}
.R{float:right;}
.L{float:left;}
.ttRight{text-align:right;}

.products{ text-align:center; }
.proView a{
	display:block;  overflow:hidden;
	background:#fff; color:#333;
	/*-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;	*/
	
	-webkit-box-shadow: 0px 0px 1px 0px rgba(20, 20, 20, 0.4);
	-moz-box-shadow:    0px 0px 1px 0px rgba(20, 20, 20, 0.4);
	-ms-box-shadow:     0px 0px 1px 0px rgba(20, 20, 20, 0.4);
	box-shadow:         0px 0px 1px 0px rgba(20, 20, 20, 0.4);
	}
.proView a:hover{
	outline: solid 3px rgba(193,165,110,1.00);
	
	-webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 1);
	-ms-box-shadow:     0px 0px 6px 0px rgba(50, 50, 50, 1);
	box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 1);
	opacity:.9;
	/*opacity:.7;
	outline: solid 1px #BA9B68;*/
	}
.proView{ /*width: 90%;*/ width:8em; margin:1em auto; text-align:center; }

.centerIMG{ 
	width:8em; height:8em; background:#fff;
	overflow: hidden !important;  /*display: table-cell;*/
	text-align:center;
	vertical-align: middle; /*to　firefox*/
	position: relative;
	line-height: 7.5em !important; /* Firefox, Chrome */    
  	*font-size : 7.2em;   /* IE *//* 8em * 0.9 = 7.2em */
	padding: 0 !important;
	margin: 0 !important;
	
	 }	
.centerIMG img{ max-width:100%; max-height:100%; vertical-align: middle;
	/*position: static !important;　 
	position:absolute !important;*/
	/*top:-50%; IE向上-50%*/　
	/*left:-50%; IE向左-50%*/　}
	
@media  only screen and (min-width: 1100px) {
	.centerIMG{ width:10em; height:10em; line-height: 9.9em !important; }	
	.proView{ width:10em;}
}
@media  only screen and (min-width: 768px) and (max-width: 850px) {
	.centerIMG{ width:6.6em; height:6.6em; line-height: 6.4em !important; }	
	.proView{ width:6.6em;}
	}
@media  only screen and (min-width: 550px) and (max-width: 767px) {
	.centerIMG{ width:10em; height:10em; line-height: 9.9em !important; }	
	.proView{ width:10em;}
	}
@media  only screen and (max-width: 440px) {
	.centerIMG{ width:6em; height:6em; line-height: 5.9em !important; }	
	.proView{ width:6em;}
}
@media  only screen and (max-width: 330px) {
	.centerIMG{ width:5.2em; height:5.2em; line-height: 5em !important;}	
	.proView{ width:5.2em;}
}
.pName{  width:100%; padding:.5em .2em 0 .2em; margin-bottom:.5em; display:block;  font-size:.8em; line-height:1.1em; height:2.7em; 
		 /*border-top:solid 1px #f2f2f2;*/
		 overflow:hidden; text-overflow:ellipsis; 
    	 display: -webkit-box;
		 -webkit-line-clamp: 2;
		 -webkit-box-orient: vertical; 
		 text-overflow: -o-ellipsis-lastline; 
		}

.status{ width:100%; max-width:100%; text-align:right; margin-bottom:.2em; }
.status li{ display:inline-block; margin:.7em .3em; }
.goBack, .cart{ width:2em; height:1.7em; line-height:1.9em; font-size:1.3em; 
	color: #B99A67;    /* #aaaaaa #B99A67  #DA5049 */  }	
.goBack{ text-align:left;}
.cart{ text-align:right; }
.goBack:hover, .cart:hover{ color:#333; }	
h1{
	line-height:2.5em;
	font-size:.9em;
	color:#333;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	}
	
.aa1{
	width:2em;
	height:2em;
	line-height:2em;
	display:block;
	text-align:center;
			 border-radius: 50em;	
	     -o-border-radius: 50em;
	   -moz-border-radius: 50em;
	-webkit-border-radius: 50em;
	background: #333;
	border:solid 1px #333; 
	color: #CAA771; 
	}
.aa1:hover{ border:solid 1px #BA9B68; background:none; cursor:pointer; }
.aa2{
	height:2em;
	line-height:2em;
	padding-left:1em;
	padding-right:1em;
	display:block;
	text-align:center;
	text-align:center;
			 border-radius: 50em;	
	     -o-border-radius: 50em;
	   -moz-border-radius: 50em;
	-webkit-border-radius: 50em;
	border:solid 1px #BA9B68; 
	color:#BA9B68;
	}
.aa2:hover{ background:rgba(255,255,255,.5);}
.aa3{ padding-right:1em; color:#ccc; }
.aa3:hover{ color:#B99A67; }

.aa4{
  width:100%;
  padding: .6em 0;
  display: block;
  border: none;
  border: solid 2px #DA5049;
  background: #DA5049;
  color:#fff;
  -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px;
  text-align:center;
  font-size:1rem;
}
.aa4:hover{background:none; color: #DA5049; /*#B2A171;*/ cursor: pointer; }

.aa5{
  width:100%;
  padding: .3em 0;
  margin:.3em auto;
  display: block;
  border: none;
  border: solid 2px #333;
  background: #333;
  color:#fff;
  text-align:center;
  letter-spacing:3px;
}
.aa5:hover{ background:none; color: #333; /* #B2A171;*/ cursor: pointer; }

.aa6{
  width:100%;
  padding: .5em 0;
  margin:1em auto;
  display: block;
  border: none;
  border: solid 1px #3f3f3f;
  background: #3f3f3f ;
  color:#fff !important;
  text-align:center;
  letter-spacing:2px;
  -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px;
}
.aa6:hover{ color: #3f3f3f; cursor: pointer; }

.main{ background:#f8f8f8;; padding-bottom: 2em;}

h2{ 
	color:#B99A67; 
	font-weight:600;
	font-size:1.2em;
	margin: .8em 0;
	}
h3{
	margin:1em auto;
	letter-spacing:2px;
	font-size:1.3em;
	}
.detail-L{ 
	font-size:.9em;
	}
.detail-R{
	line-height:1.5em;
	font-size:.9em;
	}
.detail-R div{
	margin-bottom:.6em;
	}
.des{margin-bottom:.5em;}
.des ul{margin:.8em 0;}

.ff1{ color:#B99A67; padding-right:.5em; }
.ff2{ color: #DA5049; }
mark{
	font-size:1.3em;
	background:url(../img/mark.jpg) repeat-x 0 80%;
    }
.img-size{
	text-align:center;
	}
.img-size img{
	max-width:100%;
	vertical-align:top;
	}
@media only screen and (min-width: 768px) {
	.img-size{
	text-align: center;
	border: solid 3px rgba(0,0,0,0.2);
	margin:1.6em 0 .5em .3em ;
   -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px;
	}
	
	.img-size img{ max-width:100%;}
	.detail-L{ width:40%; float:left; }
	.detail-R{ width:58%; float:right; }
}

footer{ 
	position:relative;
	width:100%; max-width:100%;  
	padding:3em 0; line-height:160%; font-size:.9em;
	color:#ccc; background:#222;
/*	border-top: solid 1px #FFF;
	-webkit-box-shadow: 0px -3px 6px 0px rgba(50, 50, 50, 0.1);
	-moz-box-shadow:    0px -3px 6px 0px rgba(50, 50, 50, 0.1);
	box-shadow:         0px -3px 6px 0px rgba(50, 50, 50, 0.1);*/
	}
.foo1{ width:70%; float:left; padding:0 .5em;  }
.foo2{ width:30%; float:right; text-align:right; }
.foo2 a{margin: 0.3em; font-size:1.5em; color:#ccc; display:inline-block;}
.foo2 a:hover{color:#B99A67;}
.fooTXT{ padding-right:10px; display:inline-block;}


@media only screen and (max-width: 720px) {
	footer{ text-align:center; }
	.foo1, .foo2 { width:100%; text-align:center; }
	.foo2 a{font-size:2em; margin: 1em .3em; }
}
@media only screen and (max-width: 480px) {
   .fooTXT{width:100%; }
  
}

/*---------- Tabs ----------*/
.tabs {
    width:100%;
    display:inline-block;
	font-size:.9em;
    }
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
    .tab-links li {
        float:left;
        list-style:none;
		  width:25%;
		 /*display:inline-block;*/ 
		 text-align:center;

    }	
	
        .tab-links a {
			 padding:.8em 0; 
            display:block;   
            color:#4c4c4c;
            transition:all linear 0.15s;
			 border-top:solid 2px #b2b2b2;
			 background:#e3e3e3;
			 
			 -webkit-box-shadow: inset 5px 0px 10px -5px rgba(50, 50, 50, 0.2);
			 -moz-box-shadow:    inset 5px 0px 10px -5px rgba(50, 50, 50, 0.2);
			 box-shadow:         inset 5px 0px 10px -5px rgba(50, 50, 50, 0.2);
        }
        .tab-links a:hover {
            background:#FFF;
            text-decoration:none;
        }
    .tab-links li.active a, .tab-links li.active a:hover {
        background:#fff;
		 border-top:solid 2px #333;
		 
		-webkit-box-shadow: none;
		-moz-box-shadow:    none;
		box-shadow:         none;

    }
	 .tab-links a:before {
		display: inline-block;
		vertical-align: middle;
		text-transform: none;
		font-weight: normal;
		font-variant: normal;
		font-family: 'icomoon';
		line-height: 1;
		speak: none;
		-webkit-font-smoothing: antialiased;
		margin: -0.25em 0.4em 0 0;
	  }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        /*border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);*/
        background:#fff;
		 padding:1em 1em 2em 1em ;
		 border-bottom:solid 1px #E6E6E6;
    }
	
	.tab-content img{ max-width:100% !important; height:auto !important; }
	
        .tab {
            display:none;
			 position:relative;
        }
        .tab.active {
            display:block;
        }
/*---------- end of Tabs ----------*/



.form-group.focus .form-control,
.form-control:focus {
/* flat effect
  border-color: #1abc9c;*/
  border-color:#555;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#prd_amount{color:#666; text-decoration:underline;}
#prd_amount_div  {
	position: absolute;
	padding:.6em 1em;
	margin-right:1em;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px;
	background: #333;
	color:#fff;
	z-index:999999;
	box-shadow: 0 0 6px 3px rgba(0,0,0,0.1);
}
#prd_amount_div:after {
	bottom: 100%;
	left: 30%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(87, 87, 87, 0);
	border-bottom-color: #333;
	border-width: 6px;
	margin-left: -6px;	
}
 
#proIMG{ /*	margin-left:-15px !important; margin-right:-15px !important;*/ }
.pay{ margin:1em 0;}

#relativeP{
	padding:1em .5em; text-align:center;
	}
#share{padding:1em; text-align:center;
	border-bottom:solid 1px #e6e6e6;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;	
	}
.shareTo{  
  width:1.6em;
  height:1.6em;
  line-height:1.7em;
  font-size:1.5em;
  margin:.5em .2em;
  color:#FFF;
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  -ms-border-radius: 50em;
  -o-border-radius: 50em;
  border-radius: 50em;
  display:inline-block;
  text-align:center;
  vertical-align:top;
  }	
.fb{background:#3B5998;}
.twitter{background:#48C7F1;}

.gg{background:#E47365;}
.sina{background:#E54D54;}
.weChat  {background:#5EBC2A;}
.phoneMassage {background:#555;}
.mail  {background:#8345B2;}	
.qq  {background:#2F7EC0;}
.ren {background:#005BAC;}	

.shareTo:hover{ opacity:.8; text-decoration:none;}
.line{
	background:#20C856; 
  	background-image: url(../img/share-line.png);
  	background-position:center center;
  	background-repeat:no-repeat;
  }
.plurk  {
	background:#CF682F;
  	background-image:url(../img/share-plurk.png);
  	background-position:center center;
  	background-repeat:no-repeat;
  }	
.qzone{
	background:#4CA7F6;
  	background-image:url(../img/share-qzone.png);
  	background-position:center center;
  	background-repeat:no-repeat;
	background-size:auto 76% ;
}

.up-btn { 
		width:7em; padding: .8em 0; display: block;  letter-spacing:2px; 
		/*border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; border:solid 1px #666;*/
		color:#B99A67;  text-align: center; margin:.5em auto;
		}
.up-btn:hover, up-btn:focus { background: #fff; }


/* --- EASYDROPDOWN DEFAULT THEME --- */
.dropdown,
.dropdown div,
.dropdown li,
.dropdown div::after{
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

.dropdown .selected::after,
.dropdown.scrollable div::after{
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
}

/* WRAPPER */

.dropdown{
	position: relative;
	width:100%;
	/*max-width:160px;*/

	border: 1px solid #ccc;
	cursor: pointer;
	background: #fff;

	-webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px;   -o-border-radius: 3px; border-radius: 3px;
	
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;

	padding-top:.3em;
	padding-bottom: .3em;
	}

.dropdown.open{
	z-index: 2;
}

.dropdown:hover{
	box-shadow: 0 0 5px rgba(0,0,0,.15);
}

.dropdown.focus{
	box-shadow: 0 0 5px rgba(51,102,248,.4);
}

/* CARAT */

.dropdown .carat,
.dropdown .carat:after{
	content: '';
	position: absolute;
	right: 8px;
	top: 50%;
	margin-top: -4px;
	border: 8px solid transparent;
	border-top: 8px solid #000;
	z-index: 2;
	
	-webkit-transform-origin: 50% 20%;
	-moz-transform-origin: 50% 20%;
	-ms-transform-origin: 50% 20%;
	transform-origin: 50% 20%;
}

.dropdown .carat:after{
	margin-top: -10px;
	right: -8px;
	border-top-color: #fff;
}
/*.dropdown:hover .carat:after{border-top-color: fff;}*/

.dropdown.focus .carat{border-top-color: #333;}
.dropdown.focus .carat:after{border-top-color: #fff;}
.dropdown.open .carat{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}


/* OLD SELECT (HIDDEN) */

.dropdown .old{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}

.dropdown select{
	position: absolute;
	left: 0px;
	top: 0px;
}

.dropdown.touch .old{
	width: 100%;
	height: 100%;
}

.dropdown.touch select{
	width: 100%;
	height: 100%;
	opacity: 0;
}

/* SELECTED FEEDBACK ITEM */ 

.dropdown .selected,
.dropdown li{
	display: block;
	line-height: 1;
	color: #000;
	padding: .6em 1em;
	overflow: hidden;
	white-space: nowrap;
}

.dropdown.disabled .selected{
	color: #999;
}

.dropdown .selected::after{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 60px;
	
	-webkit-border-radius: 0 2px 2px 0;
	-moz-border-radius: 0 2px 2px 0;
	-ms-border-radius: 0 2px 2px 0;
	-o-border-radius: 0 2px 2px 0;
	border-radius: 0 2px 2px 0;
	
	box-shadow: inset -55px 0 25px -20px #fff;
}

/* DROP DOWN WRAPPER */

.dropdown div{
	position: absolute;
	height: 0;
	left: -1px;
	right: -1px;
	top: 100%;
	margin-top: -1px;
	background: #fff;
	border: 1px solid #ccc;
	border-top: 1px solid #eee;
	
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-ms-border-radius: 0 0 3px 3px;
	-o-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	
	/*overflow: hidden; overflow-y: scroll;*/  overflow-x:hidden;
	opacity: 0;
	max-height:250px; 
	 
}

/* Height is adjusted by JS on open */

.dropdown.open div{
	opacity: 1;
	z-index: 2;
}

/* FADE OVERLAY FOR SCROLLING LISTS */

.dropdown.scrollable div::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
	box-shadow: inset 0 -50px 30px -35px #fff;
}

.dropdown.scrollable.bottom div::after{
	opacity: 0;
}

/* DROP DOWN LIST */

.dropdown ul{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	list-style: none;
	/*overflow: hidden;*/
}

.dropdown.scrollable.open ul{
	overflow-y: auto;
}

/* DROP DOWN LIST ITEMS */

.dropdown li{
	list-style: none;
	padding: 5px 12px;
}

/* .focus class is also added on hover */

.dropdown li.focus{
	/*background: #d24a67;*/
	background:#333;
	position: relative;
	z-index: 3;
	color: #fff;
}

.dropdown li.active{ font-weight: 700;}

/*==========================================================*/

.search{  
	padding: 2em 0 ;  color:#3f3f3f;
	-webkit-box-shadow: inset 0px 6px 6px -5px rgba(50, 50, 50, 0.15);
	-moz-box-shadow:    inset 0px 6px 6px -5px rgba(50, 50, 50, 0.15);
	box-shadow:         inset 0px 6px 6px -5px rgba(50, 50, 50, 0.15);
	}
.resault{ min-height:400px; position:relative; }

/* ==========================================================================
下面固定按鈕 for product detail page
========================================================================== */
#stickBottom{ width:100%;  position:fixed !important; bottom:0; left:0; padding:0; z-index:999999999999999; background: rgba(218,80,73,0.92); /*background: rgba(234,96,31,0.86); */  }
#stickBottom li{ width:33%; float:left; text-align:center; }
#stickBottom li:last-child{ border-left:solid 1px rgba(0,0,0, .2); }
#stickBottom a{ width:100%; display:block; padding:.6em 0; letter-spacing:1px; line-height:1.5em; color: #fff; }
#stickBottom a:hover{ text-decoration:none; opacity:.8;}
