*{
    margin:0;
    padding:0;
}
a {
	color: #DDE;
	text-decoration: none;
	}
	
	a:hover{
		  color:#FFF;
		  text-decoration:none;
	}
	a:visited{
		color:#EEF;
		text-decoration:none;
	}
	a:active{
		color:F88;
}
table{
	font-size:100%;
	font-family:'微軟正黑體';

}
.text_color0c3{color: #00CC33}
.text_70 {font-size: 70%}

/*文章內容圖上框*/
.infoimg{
	border:solid 2px rgba(222,222,222,0.7);
	text-align: center;
}
/*table 變色 */
#table_knowledge table{
	width:100%;
	font-size:100%;
}

#table_knowledge table td{
	cursor: pointer; 
	height:80px;
	vertical-align:middle;
	padding:0 5px;
	border-bottom:1px dotted #c9c9c9;
	color:#333;
}

#table_knowledge table tr.name, #table_knowledge table tr.name:hover{
	color:#fff;
	background-color:rgba(0, 75, 55, 0.6)
	text-align:center;
}

#table_knowledge table td a{
	display:block;
	width:100%;
	color:#FFE;
	word-break:break-all;
}

#table_knowledge table tr:hover{
background-color:rgba(55, 55, 55, 0.6)
}

/* The Grid ---------------------- */

/* link 設定背景區 */
/*---------- end of Tabs ----------*/
header{	 width:100%; max-width:100%; margin: 0 auto; padding:.2em 0; text-align:center; position:fixed; top:0; z-index:99; }
header img{ /* max-width:100%; height:auto;*/  width:150px; }
header#shop{ background:none; border-top:solid 1px rgba(0,0,0,0.1); margin-top:3px; border-bottom:none; }

#menu:not(.mm-menu)
{
	display: none;
}
#header
{
	text-align: center;
	/* 本行顏色設定已移至footerstyle.css方便統一設定
	background-color:rgba(255,255,255,0.4);
	*/
	font-size: .9rem;
	font-weight: bold;
	color: #fff;
	height: 45px;
	position: fixed;
	top: 0;
	left: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	z-index:999;
}
.header-left {width:30px; height:30px; display:inline-block; position:absolute; left:0; margin:10px;}
.header-left img {width:100%;}
.header-logo {
	display:inline-block;
	margin:10px;
	text-align: center;
	vertical-align: middle;
}
.header-logo img {height:30px;}
.header-right {
			display:inline-block;
			position:absolute;
			right:0; 
			margin:10px;
}
.header-right img {width:18px;height:28px;}
.header-right >a
{
	width:30px;
	height:30px;
}
.mm-listview > li > a
{
	color: #338585;
}
.mm-listview > #meunt1 > a
{
	color: #fff;
}

.mm-navbar{	
	/*
	background-color:#338585;
	*/
	height:40px;
	  z-index: 9999;
}

.mm-title{
		position: relative;
		padding: .9em .1em;
		/*
		padding: .8em .1em;
		font-size: 1.2em;
		*/
		font-size: .9rem;
		line-height: 20px;
			/*
		height:45px;
			*/
		font-weight: 600;
		color: #fff;
		outline: none;
		width: 100%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		/*
		background: #338585;
		*/
		text-align:center;
}

#meunt1 {
		display: block;
		position: relative;
		padding: .5em .1em;
		font-size: 1.2em;
		line-height: 20px;
		height:60px;
		font-weight: 600;
		color: #fff;
		outline: none;
		width: 100%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		background: #338585;
		text-align:center;
}
#meunt2 { 
	color: #000;
	height:40px;
	line-height: 25px;
	font-weight:bold; 
	padding:5px; 	
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(216,216,216,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(216,216,216,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(216,216,216,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(216,216,216,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(216,216,216,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(216,216,216,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d8d8d8',GradientType=0 ); /* IE6-9 */
	
}

#hamburger
{
	background-image: url("../../atmandcs/images/apppic/meun_0.png"); 
	background-repeat: no-repeat; 
	background-size:cover;
	box-sizing: border-box;
	display: block;
	width: 30px;
	height: 30px;
	left: 0;
}

/* Hamburger animation */
#hamburger
{
	-webkit-transition: none 1s ease 1s;
	transition: none 1s ease 1s;

	-webkit-transition-property: transform, top, bottom, left, opacity;
	transition-property: transform, top, bottom , left, opacity;
}

html.mm-opening #hamburger
{background-image: url("../../atmandcs/images/apppic/meunx_0.png");}
