RewriteEngine on

# Skip the index.php
RewriteBase /
RewriteCond $1 !^(index\.php|images|uploads|upload_android|template|tem|_captcha|js|project|css|BingSiteAuth\.xml|41D2A7782C64525683D84E35079980A4\.txt|robots\.txt|$)
RewriteRule ^(.+)$ index.php?$1 [L]


#配合設定的轉址
#*.qrcode.org.tw 網站位置 httpdocs/qrcode
#RewriteCond %{HTTP_HOST} !^(www)\. [NC]
# --
# 中華健康養生產業工會
# --
#RewriteCond %{HTTP_HOST} ^aca131499.org.tw [NC]
#RewriteRule ^$ /business/iqr/aca131499 [P]
#RewriteCond %{HTTP_HOST} ^(.*)\.aca131499.org.tw [NC]
#RewriteRule (.*) http://aca131499.org.tw/business/iqr/%1 [P]

# http://eoneda.com/gold/index/0225366621
# --

#RewriteCond %{HTTP_HOST} ^eoneda.com [NC]
#RewriteRule ^$ /gold/index/0225366621 [P]