@charset "utf-8";

/* CSS Document */
.header {
    font-size: 20px;
    text-align: center;	/* color: #1093dd; */
    color: #000;
    line-height: 50px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    height: 50px;
    padding: 0 10%;
    background-color: #fff;
    background-image: url(../images/header-bg.jpg);
    background-repeat: repeat-x;
    background-position: left bottom;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.header a {
    font-size: 30px;
    font-family: "微軟正黑體", "新細明體", "標楷體", Arial;
    display: inline;
    left: 5px;
    position: absolute;
    width: 35px;
    text-align: center;
}